 <div>
	 <div class="panel panel-default">
	    <div class="panel-heading">
	        <h1 class="hidden-xs hidden-sm"><img src="./images/media/logo/logo_ag_black_100.png" alt="logo" width="120px"> {{session.title}}  <a class="pull-right glyphicon glyphicon-chevron-up" href="#/principal"></a></h1>
	        <h4 class="visible-xs visible-sm"><img src="./images/media/logo/logo_ag_black_100.png" alt="logo" width="50px"> {{session.title}}  <a class="pull-right glyphicon glyphicon-chevron-up" href="#/principal"></a></h4>
	    </div>
	    <div class="panel-body">
	        <div><b>Salle:</b> {{session.room}}</div>
	        <div><b>Thème:</b> {{session.theme}}</div>
	    </div>
	    <div class="panel-body">
	        <div><b>Résumé : </b>{{session.abstract}}</div>
	        <div><b>Bénéfices pour les participants : </b>{{session.benefits}}</div>
	    </div>
	    <div class="panel-divider"></div>
	    <div class="panel-body">
	        <div ng-repeat="speaker in session['speaker-list']">
	            <div><b>{{speaker.firstname}} {{speaker.lastname}}</b>:
	                {{speaker.bio}}
	            </div>
	            <br>
	        </div>
	    
	    </div>
	</div>
</div>
