body {
    background-image:url('../../media/background/accueil.jpg');
}

a, a:hover {
    text-decoration: none;
    color: #4C494D;
}


.transparent_white75 {
  color: black;
  background: rgb(255,255,255);
  background: transparent\9;
  background:rgba(255,255,255,.75);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#C0FFFFFF,endColorstr=#C0FFFFFF);
}

.clickable {
    cursor: pointer;
}

.text-summary {
    color: #4C494D !important;
}

.animate-theme {
    -webkit-transition:0.5s linear all;
    transition:0.5s linear all;
    opacity: 1;
}

.animate-theme.ng-hide {
    opacity: 0;
    padding:0px;
    height:0px;
}

.animate-theme.ng-hide-add, .animate-theme.ng-hide-remove {
  /* this needs to be here to make it visible during the animation
     since the .ng-hide class is already on the element rendering
     it as hidden. */
  display:block!important;
}

.gridster .gridster-item {
    padding-top: 5px;
}

.program {
    font-family: trebuchet, sans-serif;
    text-align: center;
    background-color: #F5F5F5;
}

.header_program {
    font-size: x-small;
    background-color : #4C494D;
    color: white;
    height: 50px !important;
}

.session {
	border-radius: 2px;
	font-size: x-small;
    border: 1px solid #D9D9D9;
    overflow: auto;
}

.preserve-line-wrap {
    white-space:pre-wrap;
}

.keynote {
	background-color: #E8E4ED;
}

.tech {
    background-color: #D0F56C;
}

.development {
    background-color: #E3B6B6;
}

.pleasure {
    background-color: #F5C55D;
}

.mom21 {
    background-color: #C2D7FF;
}

.jumbotron {
    opacity: 0.8;
    filter: alpha(opacity=0.8);
}

.gridster {
    opacity: 0.95;
    filter: alpha(opacity=0.95);
}

.panel-session {
    opacity: 0.95;
    filter: alpha(opacity=0.95);
}
