<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="AgileGrenobleApp">

  <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta content="IE=Edge" http-equiv="X-UA-Compatible" />
      <title>Agile Grenoble</title>
      <meta name="description" content="La conf&#233;rence Agile Grenoble sera encore cette ann&#233;e l'&#233;v&#232;nement agile incontournable de la r&#233;gion. Elle est organis&#233;e par le Club Agile Rh&#244;ne-Alpes." />

      <link rel="stylesheet" href="client/lib/bootstrap/css/bootstrap.min.css" />
      <link rel="stylesheet" type="text/css" href="client/styles/agileaccueil/styles.css" />
  </head>

  <body ng-controller="AgileGrenobleCtrl">
     <nav class="navbar navbar-inverse nobackground">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <div class="navbar-brand logo-nav visible-md visible-lg">
              <img src="client/media/logo/logo_ag_black_100.png" alt="Agile Grenoble" width="80px">
              Agile Grenoble
            </div>
            <div class="navbar-brand logo-nav visible-sm">
              <img src="client/media/logo/logo_ag_black_100.png" alt="Agile Grenoble" width="60px">
              Agile Grenoble
            </div>
            <div class="navbar-brand logo-nav visible-xs">
              <img src="client/media/logo/logo_ag_black_100.png" alt="Agile Grenoble" width="40px">
              Agile Grenoble
            </div>
          </div>

          <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li>
                  <a translate="apropos.title"></a>
              </li>
              <div class="navbar-brand" ng-click="setLang('fr_FR')">
                <a href="#"><img alt="FR" src="client/media/fr.png"></a>
              </div>
              <div class="navbar-brand" ng-click="setLang('en_US')">
                <a href="#"><img alt="EN" src="client/media/en.png"></a>
              </div>
            </ul>

            <ul class="nav navbar-nav">
              
            </ul>
          </div><!-- /.navbar-collapse -->

           
        </div><!-- /.container-fluid -->
      </nav>

      <div class="container">
            <h1 class="visible-lg float-right" translate="accueil.title_ag"></h1>
            <h2 class="visible-md float-right" translate="accueil.title_ag"></h2>
            <h3 class="visible-sm float-right" translate="accueil.title_ag"></h3>
            <h4 class="visible-xs" translate="accueil.title_ag"></h4>
      </div>

    <p class="hidden-xs hidden-sm" translate="accueil.description.paragraphe1"></p>

    <div class="container">
      <section class="main">
        <ul class="ch-grid">
          <li>
            <div class="ch-item">
              <div class="ch-info">
                <div class="ch-info-front ch-img-1"></div>
                <div class="ch-info-back">
                  <a href="lab.html">
                    <h3 class="lab-color" translate="agilegrelab.title"></h3>
                    <p translate="agilegrelab.date"></p>
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="ch-item">				
              <div class="ch-info">
                <div class="ch-info-front ch-img-2"></div>
                <div class="ch-info-back">
                  <a href="conf.html">
                    <h3 class="conf-color" translate="agilegreconf.title"></h3>
                    <p translate="agilegreconf.date"></p>
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="ch-item">				
              <div class="ch-info">
                <div class="ch-info-front ch-img-3"></div>
                <div class="ch-info-back">
                  <a href="forum.html">
                    <h3 class="forum-color" translate="agilegreforum.title"></h3>
                    <p translate="agilegreforum.date"></p>
                  </a>
                </div>	
              </div>
            </div>
          </li>
          <li>
            <div class="ch-item">
              <div class="ch-info">
                <div class="ch-info-front ch-img-4"></div>
                <div class="ch-info-back">
                  <a href="4kids.html">
                    <h3 class="kids-color" translate="agilegre4kids.title"></h3>
                    <p translate="agilegre4kids.date"></p>
                  </a>
                </div>
              </div>
            </div>
          </li>
        </ul>
        
      </section>

    </div>

    <nav role="navigation" class="navbar navbar-inverse navbar-bottom navbar-fixed-bottom transparent">
        <div class="container-fluid">
            <div class="navbar-header">
              <a href="http://grenoble.clubagilerhonealpes.org/" target="blank_">
                <span class="glyphicon glyphicon-copyright-mark"></span>
                2016 Club Agile Rhône Alpes <img class="cara" src="client/media/logo/green_cara.png"/>
              </a>
              <div class="hidden-xs credits">Crédits Photos:
                <span class="hidden-xs" ng-repeat="credit in content.credits">
                  <a href="{{credit.photourl  | translate}}" target="blank_">{{credit.desc}}</a>
                    <span translate="apropos.of"></span>
                    <a href="{{credit.ownername  | translate}}" target="blank_">{{credit.ownername}}</a>
                    <span translate="apropos.under"></span>
                    <a href="{{credit.licenceurl  | translate}}" target="blank_">licence {{credit.licencename}}</a>.
                </span>
              </div>
            </div>
        </div>
    </nav>



    <script src="client/lib/jquery/jquery.min.js"></script>
    <script src="client/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="client/lib/angular/angular.min.js"></script>
    <script src="client/lib/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="client/lib/angular-translate/angular-translate.js"></script>
    <script src="client/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="client/lib/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="client/scripts/agileaccueil/app.js"></script>
    <script src="client/scripts/agileaccueil/contentService.js"></script>
  </body>
</html>
