#accueil {
	background-image:url('../media/background/accueil.jpg');
}

#accueil a {
  text-decoration:none;
}

.ag-margin-before-after {
  margin-top: 8px;
  margin-bottom: 8px;
}

#accueil .dateConference {
	position: absolute;
	left:70%;
	top:-15px;
	width: 35%;
	height: 35%;
	background-image: url(../media/text_hand_confdate_256.png);
	background-repeat: no-repeat;
	background-size:contain;
}

.ag-sponsor-text {
  color:#1B5BBB;
}

.ag-orateur-text {
  color: #FF2525;
}

.ag-participant-text {
  color: #138123;
}


.btn-ag-orateur {
  color: #FFFFFF;
  background-color: #FF2525;
  border-color: #FF2525;
}

.btn-ag-orateur:hover,
.btn-ag-orateur:focus,
.btn-ag-orateur:active,
.btn-ag-orateur.active,
.open .dropdown-toggle.btn-ag-orateur {
  color: #FFFFFF;
  background-color: #C21D1D;
  border-color: #C21D1D;
}

.btn-ag-orateur:active,
.btn-ag-orateur.active,
.open .dropdown-toggle.btn-ag-orateur {
  background-image: none;
}

.btn-ag-orateur.disabled,
.btn-ag-orateur[disabled],
fieldset[disabled] .btn-ag-orateur,
.btn-ag-orateur.disabled:hover,
.btn-ag-orateur[disabled]:hover,
fieldset[disabled] .btn-ag-orateur:hover,
.btn-ag-orateur.disabled:focus,
.btn-ag-orateur[disabled]:focus,
fieldset[disabled] .btn-ag-orateur:focus,
.btn-ag-orateur.disabled:active,
.btn-ag-orateur[disabled]:active,
fieldset[disabled] .btn-ag-orateur:active,
.btn-ag-orateur.disabled.active,
.btn-ag-orateur[disabled].active,
fieldset[disabled] .btn-ag-orateur.active {
  background-color: #FF2525;
  border-color: #FF2525;
}

.btn-ag-orateur .badge {
  color: #FF2525;
  background-color: #FFFFFF;
}

.btn-ag-participant {
  color: #FFFFFF;
  background-color: #138123;
  border-color: #138123;
}

.btn-ag-participant:hover,
.btn-ag-participant:focus,
.btn-ag-participant:active,
.btn-ag-participant.active,
.open .dropdown-toggle.btn-ag-participant {
  color: #FFFFFF;
  background-color: #0C5917;
  border-color: #0C5917;
}

.btn-ag-participant:active,
.btn-ag-participant.active,
.open .dropdown-toggle.btn-ag-participant {
  background-image: none;
}

.btn-ag-participant.disabled,
.btn-ag-participant[disabled],
fieldset[disabled] .btn-ag-participant,
.btn-ag-participant.disabled:hover,
.btn-ag-participant[disabled]:hover,
fieldset[disabled] .btn-ag-participant:hover,
.btn-ag-participant.disabled:focus,
.btn-ag-participant[disabled]:focus,
fieldset[disabled] .btn-ag-participant:focus,
.btn-ag-participant.disabled:active,
.btn-ag-participant[disabled]:active,
fieldset[disabled] .btn-ag-participant:active,
.btn-ag-participant.disabled.active,
.btn-ag-participant[disabled].active,
fieldset[disabled] .btn-ag-participant.active {
  background-color: #138123;
  border-color: #138123;
}

.btn-ag-participant .badge {
  color: #138123;
  background-color: #FFFFFF;
}

.btn-ag-sponsor {
  color: #FFFFFF;
  background-color: #1B5BBB;
  border-color: #1B5BBB;
}

.btn-ag-sponsor:hover,
.btn-ag-sponsor:focus,
.btn-ag-sponsor:active,
.btn-ag-sponsor.active,
.open .dropdown-toggle.btn-ag-sponsor {
  color: #FFFFFF;
  background-color: #174487;
  border-color: #174487;
}

.btn-ag-sponsor:active,
.btn-ag-sponsor.active,
.open .dropdown-toggle.btn-ag-sponsor {
  background-image: none;
}

.btn-ag-sponsor.disabled,
.btn-ag-sponsor[disabled],
fieldset[disabled] .btn-ag-sponsor,
.btn-ag-sponsor.disabled:hover,
.btn-ag-sponsor[disabled]:hover,
fieldset[disabled] .btn-ag-sponsor:hover,
.btn-ag-sponsor.disabled:focus,
.btn-ag-sponsor[disabled]:focus,
fieldset[disabled] .btn-ag-sponsor:focus,
.btn-ag-sponsor.disabled:active,
.btn-ag-sponsor[disabled]:active,
fieldset[disabled] .btn-ag-sponsor:active,
.btn-ag-sponsor.disabled.active,
.btn-ag-sponsor[disabled].active,
fieldset[disabled] .btn-ag-sponsor.active {
  background-color: #1B5BBB;
  border-color: #1B5BBB;
}

.btn-ag-sponsor .badge {
  color: #1B5BBB;
  background-color: #FFFFFF;
}



/* General */
body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

h1 {
    margin: 0 0 15px 0;
}

h2 {
    margin: 0 0 10px 0;
}

h3 {
    margin: 0 0 8px 0;
}

@font-face
{
	font-family: times, Times New Roman, times-roman, georgia, serif;
}

/* Slides */
.page {
  height: 100%;
  border-box: box-sizing;
  background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.content {
	padding-top: 80px;
	height: 100%;
	overflow: hidden;
}

/* Social network links */
#socialnetwork {
  position: fixed;
  padding:5px;
  top: 80px;
  right: 0px;
  z-index: 2000;
}

#socialnetwork img {
  padding-top:5px;
  opacity:0.8;
}

#socialnetwork img:hover {
  opacity:1.0;
}


/* XXL Bootstrap button */
.text-xlarge {
	cursor: pointer;
	padding: 18px 28px;
	font-size: 32px;
	text-decoration: none;
	-webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
	        border-radius: 8px;
}

.divider10 {
  height: 10px;
}

.divider20 {
  height: 20px;
}

.divider40 {
  height: 40px;
}

.divider80 {
  height: 80px;
}

.divider120 {
  height: 120px;
}

/* dialog */
.modal-body {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	border-radius: 4px;
	background-color: #F2F4F7;
}

.modal-body-text {
	margin-bottom: 20px;
}

/* utilisation de la fonte ubuntu pour les titres */

h1,h2,h3,h4,h5,h6 {
  font-family:Ubuntu, Arial;
}


/* ========= panels ========= */

.ag-section-title  {
  color :#00b8fc;

}

.ag-noindent {
  list-style: disc inside none;
  padding: 0px;
}

.panel {
  border: 0;
}


/* ====== transparent ====== */
.transparent {
  color: black;
  border: none;
  background: rgb(255,255,255);
  background: transparent\9;
  background:rgba(255,255,255,.0);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#80FFFFFF,endColorstr=#80FFFFFF);
}

.transparent_white50 {
  color: black;
  background: rgb(255,255,255);
  background: transparent\9;
  background:rgba(255,255,255,.5);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#80FFFFFF,endColorstr=#80FFFFFF);
}

.transparent_white65 {
  color: black;
  background: rgb(255,255,255);
  background: transparent\9;
  background:rgba(255,255,255,.5);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#A6FFFFFF,endColorstr=#A6FFFFFF);
}

.transparent_white75 {
  color: black;
  background: rgb(255,255,255);
  background: transparent\9;
  background:rgba(255,255,255,.75);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#C0FFFFFF,endColorstr=#C0FFFFFF);
}

.transparent_white85 {
  color: black;
  background: rgb(255,255,255);
  background: transparent\9;
  background:rgba(255,255,255,.85);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#C0FFFFFF,endColorstr=#C0FFFFFF);
}

.transparent_white95 {
  color: black;
  background: rgb(255,255,255);
  background: transparent\9;
  background:rgba(255,255,255,.95);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#C0FFFFFF,endColorstr=#C0FFFFFF);
}

.transparent_black50 {
  color: white;
  background: rgb(0,0,0);
  background: transparent\9;
  background:rgba(0,0,0,0.5);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000,endColorstr=#80000000);
}

.transparent_black65 {
  color: white;
  background: rgb(0,0,0);
  background: transparent\9;
  background:rgba(0,0,0,0.65);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#A6000000,endColorstr=#A6000000);
}

.transparent_black75 {
  color: white;
  background: rgb(0,0,0);
  background: transparent\9;
  background:rgba(0,0,0,0.75);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#C0000000,endColorstr=#C0000000);
}

.transparent_black85 {
  color: white;
  background: rgb(0,0,0);
  background: transparent\9;
  background:rgba(0,0,0,0.85);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#D8000000,endColorstr=#D8000000);
}

.transparent_black95 {
  color: white;
  background: rgb(0,0,0);
  background: transparent\9;
  background:rgba(0,0,0,0.95);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#F2000000,endColorstr=#F2000000);
}


/* BUTTONS */


/* ========= ag-btn-panel-default ========== */

.btn-ag-panel-default {
  color: #C2C2C2;
  background-color: #2C2C2C;
  border-color: #000000;
}

.btn-ag-panel-default:hover,
.btn-ag-panel-default:focus,
.btn-ag-panel-default:active,
.btn-ag-panel-default.active,
.open .dropdown-toggle.btn-ag-panel-default {
  color: #C2C2C2;
  background-color: #1F1E1E;
  border-color: #000000;
}

.btn-ag-panel-default:active,
.btn-ag-panel-default.active,
.open .dropdown-toggle.btn-ag-panel-default {
  background-image: none;
}

.btn-ag-panel-default.disabled,
.btn-ag-panel-default[disabled],
fieldset[disabled] .btn-ag-panel-default,
.btn-ag-panel-default.disabled:hover,
.btn-ag-panel-default[disabled]:hover,
fieldset[disabled] .btn-ag-panel-default:hover,
.btn-ag-panel-default.disabled:focus,
.btn-ag-panel-default[disabled]:focus,
fieldset[disabled] .btn-ag-panel-default:focus,
.btn-ag-panel-default.disabled:active,
.btn-ag-panel-default[disabled]:active,
fieldset[disabled] .btn-ag-panel-default:active,
.btn-ag-panel-default.disabled.active,
.btn-ag-panel-default[disabled].active,
fieldset[disabled] .btn-ag-panel-default.active {
  background-color: #2C2C2C;
  border-color: #000000;
}

.btn-ag-panel-default .badge {
  color: #2C2C2C;
  background-color: #C2C2C2;
}


/* ========= ag-btn-panel-selected ========== */

.btn-ag-panel-selected {
  color: #00b8fc;
  background-color: #2C2C2C;
  border-color: #000000;
}

.btn-ag-panel-selected:hover,
.btn-ag-panel-selected:focus,
.btn-ag-panel-selected:active,
.btn-ag-panel-selected.active,
.open .dropdown-toggle.btn-ag-panel-selected {
  color: #00b8fc;
  border-color: #000000;
}

.btn-ag-panel-selected:active,
.btn-ag-panel-selected.active,
.open .dropdown-toggle.btn-ag-panel-selected {
  background-image: none;
}

.btn-ag-panel-selected.disabled,
.btn-ag-panel-selected[disabled],
fieldset[disabled] .btn-ag-panel-selected,
.btn-ag-panel-selected.disabled:hover,
.btn-ag-panel-selected[disabled]:hover,
fieldset[disabled] .btn-ag-panel-selected:hover,
.btn-ag-panel-selected.disabled:focus,
.btn-ag-panel-selected[disabled]:focus,
fieldset[disabled] .btn-ag-panel-selected:focus,
.btn-ag-panel-selected.disabled:active,
.btn-ag-panel-selected[disabled]:active,
fieldset[disabled] .btn-ag-panel-selected:active,
.btn-ag-panel-selected.disabled.active,
.btn-ag-panel-selected[disabled].active,
fieldset[disabled] .btn-ag-panel-selected.active {
  background-color: #2C2C2C;
  border-color: #000000;
}

.btn-ag-panel-selected .badge {
  color: #2C2C2C;
  background-color: #00b8fc;
}
#apropos {
	background-image:url('../media/background/apropos.jpg');
}

.list-group {
	border: none;
}
.slider {
    border-radius: 5px;
    position: relative;

    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.carousel .modal {
    color: black;
}

.carousel .modal img {
    height: 70px;
}

.slider-size {
    width: 400px;
    height: 140px;
}

.blockquote-size {
    height: 25px;
    position: relative;
}

@media (max-width: 1200px) {

    .slider-size {
        width: 300px;
        height: 105px;
    }
}

@media (max-width: 992px) {

    .slider-size {
        width: 300px;
        height: 105px;
    }

    .blockquote-size {
        height: 60px;
        position: relative;
        overflow-y: auto;
    }
}

@media (max-width: 768px) {

    .slider-size {
        width: 200px;
        height: 70px;
    }

    .blockquote-size {
        height: 60px;
        position: relative;
        overflow-y: auto;
    }
}

.slide {
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}
.slide.ng-hide-add {
    opacity:1;

    -webkit-transition:1s linear all;
    -moz-transition:1s linear all;
    -o-transition:1s linear all;
    transition:1s linear all;

    -webkit-transform: rotateX(50deg) rotateY(30deg);
    -moz-transform: rotateX(50deg) rotateY(30deg);
    -ms-transform: rotateX(50deg) rotateY(30deg);
    -o-transform: rotateX(50deg) rotateY(30deg);
    transform: rotateX(50deg) rotateY(30deg);

    -webkit-transform-origin: right top 0;
    -moz-transform-origin: right top 0;
    -ms-transform-origin: right top 0;
    -o-transform-origin: right top 0;
    transform-origin: right top 0;
}
.slide.ng-hide-add.ng-hide-add-active {
    opacity:0;
}
.slide.ng-hide-remove {
    -webkit-transition:1s linear all;
    -moz-transition:1s linear all;
    -o-transition:1s linear all;
    transition:1s linear all;

    display:block!important;
    opacity:0;
}
.slide, .slide.ng-hide-remove.ng-hide-remove-active {
    opacity:1;
}

.gold {
    color: #F5D402;
}
#keynotes {
	background-image:url('../media/background/keynotes.jpg');
}


.navbar-default {
  background-color: #2c2c2c;
  border-color: #303030;
  z-index: 10;
  border-radius: 0px !important;
  -moz-box-shadow: 1px 1px 5px 0px #2c2c2c;
  -webkit-box-shadow: 1px 1px 5px 0px #2c2c2c;
  -o-box-shadow: 1px 1px 5px 0px #2c2c2c;
  box-shadow: 1px 1px 5px 0px #2c2c2c;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#2c2c2c, Direction=134, Strength=5);
}

.navbar-default .navbar-brand {
  color: #ebeef5;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #00b8fc;
}
.navbar-default .navbar-text {
  color: #ebeef5;
}
.navbar-default .navbar-nav > li > a {
  color: #ebeef5;
  border-bottom: 3px #ebeef5 solid;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #B0B0B0;
  border-bottom: 3px #B0B0B0 solid;
  cursor: pointer;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #00b8fc;
  background-color: #2c2c2c;
  border-bottom: 3px #00b8fc solid;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #00b8fc;
  background-color: #2c2c2c;
}
.navbar-default .navbar-toggle {
  border-color: #2c2c2c;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #2c2c2c;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ebeef5;
}
.navbar-default .navbar-collapse {
  margin-right: 15px;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ebeef5;
}
.navbar-default .navbar-link {
  color: #ebeef5;
}
.navbar-default .navbar-link:hover {
  color: #00b8fc;
}


@media (max-width: 768px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ebeef5;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #00b8fc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #00b8fc;
    background-color: #2c2c2c;
  }
}


/* Logo Agile Grenoble */


@media (max-width: 991px) {
  .ag-agtext {
    margin-top: 24px;
    color: #E0E0E0;
    width: 180px;
    font-family:Ubuntu, Arial;
  }
  .logo-nav {
   margin-top: 10 px;
  }
}
@media (min-width: 992px) {
  .ag-agtext {
    margin-top: 24px;
    color: #E0E0E0;
    width: 240px;
  }
  .logo-nav {
   margin-top: -4px;
  }
}



.ag-anneetext {
  color: #00b8fc;
}
#orateurs {
	background-image:url('../media/background/orateurs.jpg');
}

#participants {
	background-image:url('../media/background/participants.jpg');
}

#sponsors {
	background-image:url('../media/background/sponsors.jpg');
}

.panel-group {
	color: black;
}

.panel-heading {
	cursor: pointer;
}

.sponsor-gold {
	 color: #aa4502;
	 background-color: #f4be42;
}

.sponsor-silver {
	 color: #5974a3;
	 background-color: #c4c4c4;
}
