/* General */
body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

h1 {
    margin: 0 0 15px 0;
}

h2 {
    margin: 0 0 10px 0;
}

h3 {
    margin: 0 0 8px 0;
}

@font-face
{
	font-family: times, Times New Roman, times-roman, georgia, serif;
}

/* Slides */
.page {
  height: 100%;
  border-box: box-sizing;
  background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.content {
	padding-top: 80px;
	height: 100%;
	overflow: hidden;
}

/* Social network links */
#socialnetwork {
  position: fixed;
  padding:5px;
  top: 80px;
  right: 0px;
  z-index: 2000;
}

#socialnetwork img {
  padding-top:5px;
  opacity:0.8;
}

#socialnetwork img:hover {
  opacity:1.0;
}


/* XXL Bootstrap button */
.text-xlarge {
	cursor: pointer;
	padding: 18px 28px;
	font-size: 32px;
	text-decoration: none;
	-webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
	        border-radius: 8px;
}

.divider10 {
  height: 10px;
}

.divider20 {
  height: 20px;
}

.divider40 {
  height: 40px;
}

.divider80 {
  height: 80px;
}

.divider120 {
  height: 120px;
}

/* dialog */
.modal-body {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	border-radius: 4px;
	background-color: #F2F4F7;
}

.modal-body-text {
	margin-bottom: 20px;
}

/* utilisation de la fonte ubuntu pour les titres */

h1,h2,h3,h4,h5,h6 {
  font-family:Ubuntu, Arial;
}


/* ========= panels ========= */

.ag-section-title  {
  color :#00b8fc;

}

.ag-noindent {
  list-style: disc inside none;
  padding: 0px;
}

.panel {
  border: 0;  
}


/* ====== transparent ====== */ 
.transparent {
  color: black;
  border: none;
  background: rgb(255,255,255);  
  background: transparent\9;  
  background:rgba(255,255,255,.0);  
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#80FFFFFF,endColorstr=#80FFFFFF); 
}

.transparent_white50 {
  color: black;
  background: rgb(255,255,255);  
  background: transparent\9;  
  background:rgba(255,255,255,.5);  
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#80FFFFFF,endColorstr=#80FFFFFF); 
}

.transparent_white65 {
  color: black;
  background: rgb(255,255,255);  
  background: transparent\9;  
  background:rgba(255,255,255,.5);  
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#A6FFFFFF,endColorstr=#A6FFFFFF); 
}

.transparent_white75 {
  color: black;
  background: rgb(255,255,255);  
  background: transparent\9;  
  background:rgba(255,255,255,.75);  
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#C0FFFFFF,endColorstr=#C0FFFFFF); 
}

.transparent_white85 {
  color: black;
  background: rgb(255,255,255);  
  background: transparent\9;  
  background:rgba(255,255,255,.85);  
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#C0FFFFFF,endColorstr=#C0FFFFFF); 
}

.transparent_white95 {
  color: black;
  background: rgb(255,255,255);  
  background: transparent\9;  
  background:rgba(255,255,255,.95);  
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#C0FFFFFF,endColorstr=#C0FFFFFF); 
}

.transparent_black50 {
  color: white;
  background: rgb(0,0,0);  
  background: transparent\9;  
  background:rgba(0,0,0,0.5);  
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000,endColorstr=#80000000); 
}

.transparent_black65 {
  color: white;
  background: rgb(0,0,0);  
  background: transparent\9;  
  background:rgba(0,0,0,0.65);  
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#A6000000,endColorstr=#A6000000); 
}

.transparent_black75 {
  color: white;
  background: rgb(0,0,0);  
  background: transparent\9;  
  background:rgba(0,0,0,0.75);  
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#C0000000,endColorstr=#C0000000); 
}

.transparent_black85 {
  color: white;
  background: rgb(0,0,0);  
  background: transparent\9;  
  background:rgba(0,0,0,0.85);  
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#D8000000,endColorstr=#D8000000); 
}

.transparent_black95 {
  color: white;
  background: rgb(0,0,0);  
  background: transparent\9;  
  background:rgba(0,0,0,0.95);  
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#F2000000,endColorstr=#F2000000); 
}


/* BUTTONS */


/* ========= ag-btn-panel-default ========== */

.btn-ag-panel-default { 
  color: #C2C2C2; 
  background-color: #2C2C2C; 
  border-color: #000000; 
} 
 
.btn-ag-panel-default:hover, 
.btn-ag-panel-default:focus, 
.btn-ag-panel-default:active, 
.btn-ag-panel-default.active, 
.open .dropdown-toggle.btn-ag-panel-default { 
  color: #C2C2C2; 
  background-color: #1F1E1E; 
  border-color: #000000; 
} 
 
.btn-ag-panel-default:active, 
.btn-ag-panel-default.active, 
.open .dropdown-toggle.btn-ag-panel-default { 
  background-image: none; 
} 
 
.btn-ag-panel-default.disabled, 
.btn-ag-panel-default[disabled], 
fieldset[disabled] .btn-ag-panel-default, 
.btn-ag-panel-default.disabled:hover, 
.btn-ag-panel-default[disabled]:hover, 
fieldset[disabled] .btn-ag-panel-default:hover, 
.btn-ag-panel-default.disabled:focus, 
.btn-ag-panel-default[disabled]:focus, 
fieldset[disabled] .btn-ag-panel-default:focus, 
.btn-ag-panel-default.disabled:active, 
.btn-ag-panel-default[disabled]:active, 
fieldset[disabled] .btn-ag-panel-default:active, 
.btn-ag-panel-default.disabled.active, 
.btn-ag-panel-default[disabled].active, 
fieldset[disabled] .btn-ag-panel-default.active { 
  background-color: #2C2C2C; 
  border-color: #000000; 
} 
 
.btn-ag-panel-default .badge { 
  color: #2C2C2C; 
  background-color: #C2C2C2; 
}


/* ========= ag-btn-panel-selected ========== */

.btn-ag-panel-selected { 
  color: #00b8fc; 
  background-color: #2C2C2C; 
  border-color: #000000; 
} 
 
.btn-ag-panel-selected:hover, 
.btn-ag-panel-selected:focus, 
.btn-ag-panel-selected:active, 
.btn-ag-panel-selected.active, 
.open .dropdown-toggle.btn-ag-panel-selected { 
  color: #00b8fc; 
  border-color: #000000; 
} 
 
.btn-ag-panel-selected:active, 
.btn-ag-panel-selected.active, 
.open .dropdown-toggle.btn-ag-panel-selected { 
  background-image: none; 
} 
 
.btn-ag-panel-selected.disabled, 
.btn-ag-panel-selected[disabled], 
fieldset[disabled] .btn-ag-panel-selected, 
.btn-ag-panel-selected.disabled:hover, 
.btn-ag-panel-selected[disabled]:hover, 
fieldset[disabled] .btn-ag-panel-selected:hover, 
.btn-ag-panel-selected.disabled:focus, 
.btn-ag-panel-selected[disabled]:focus, 
fieldset[disabled] .btn-ag-panel-selected:focus, 
.btn-ag-panel-selected.disabled:active, 
.btn-ag-panel-selected[disabled]:active, 
fieldset[disabled] .btn-ag-panel-selected:active, 
.btn-ag-panel-selected.disabled.active, 
.btn-ag-panel-selected[disabled].active, 
fieldset[disabled] .btn-ag-panel-selected.active { 
  background-color: #2C2C2C; 
  border-color: #000000; 
} 
 
.btn-ag-panel-selected .badge { 
  color: #2C2C2C; 
  background-color: #00b8fc; 
}