<div class="content container">
  <div class="row">
    <div class="col-md-12">

	<div skrollr class="panel panel-default transparent_black65">
	   <div class="panel-body">
            <h1 class="ag-section-title visible-lg" translate="accueil.title_ag"></h1>
            <h2 class="ag-section-title visible-md" translate="accueil.title_ag"></h2>
            <h3 class="ag-section-title visible-sm" translate="accueil.title_ag"></h3>
            <h4 class="ag-section-title visible-xs" translate="accueil.title_ag"></h4>
            <p class="hidden-xs hidden-sm" translate="accueil.description.paragraphe1"></p>
            <p class="hidden-xs hidden-sm" translate="accueil.description.paragraphe2"></p>
            <!--p translate="accueil.description.paragraphe3"></p>
            <p translate="accueil.description.paragraphe4"></p>
            <p translate="accueil.description.paragraphe5"></p-->
            <h4 class="hidden-xs hidden-sm" translate="accueil.date"></h4>
            <p class="visible-sm" translate="accueil.date"></p>
          </div>
        </div>
     </div>
   </div>

   <div class="row">
      <div class="col-md-3">
         <div class="panel panel-default transparent_white75">
  	    <div class="panel-body">
               <h4 translate="agilegrelab.title"></h4>
               <p class="hidden-xs" translate="agilegrelab.description"></p>
<!--               <a href="{{lienAI2015()}}" class="btn btn-primary btn-lg">
                 <span class="glyphicon glyphicon-info-sign hidden-xs"></span>
                 <span translate="agilegrelab.link.name"></span>
               </a>
-->
            </div>
         </div>
      </div>
      <div class="col-md-3">
          <div class="panel panel-default transparent_white75">
  	         <div class="panel-body">
               <h4 translate="agilegreconf.title"></h4>
               <p class="hidden-xs" translate="agilegreconf.description"></p>
            </div>
          </div>
      </div>
      <div class="col-md-3">
         <div class="panel panel-default transparent_white75">
            <div class="panel-body">
               <h4 translate="agilegreforum.title"></h4>
               <p class="hidden-xs" translate="agilegreforum.description"></p>
<!--               <a href="{{lienAI2015()}}" class="btn btn-primary btn-lg">
                 <span class="glyphicon glyphicon-info-sign hidden-xs"></span>
                 <span translate="agilegreforum.link.name"></span>
               </a>
-->
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="panel panel-default transparent_white75">
            <div class="panel-body">
               <h4 translate="agilegre4kids.title"></h4>
               <p class="hidden-xs" translate="agilegre4kids.description"></p>
<!--               <a href="{{lienAI2015()}}" class="btn btn-primary btn-lg">
                 <span class="glyphicon glyphicon-info-sign hidden-xs"></span>
                 <span translate="agilegre4kids.link.name"></span>
               </a>
-->
            </div>
         </div>
      </div>
   </div>

</div>
