<div class="content container">
  <div class="row hidden-xs">
    <div class="col-md-12">

    <div class="panel panel-default transparent_white75">
	    <div class="panel-body">
			<p translate="accueil.description.paragraphe0"></p>
		</div>       
	</div>    
    
	<div skrollr class="panel panel-default transparent_black65">
	   <div class="panel-body">
            <h1 class="ag-section-title hidden-xs hidden-sm" translate="accueil.title_ag"></h1>
            <p translate="accueil.description.paragraphe1"></p>
            <p translate="accueil.description.paragraphe2"></p>
            <p translate="accueil.description.paragraphe3"></p>
            <p translate="accueil.description.paragraphe4"></p>
            <h2 translate="accueil.date"></h2>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
  	<div class="col-md-4">
  	  <div class="panel panel-default transparent_black65">
  	    <div class="panel-body">
           <h3 translate="programme.title"></h3>
           <p class="hidden-xs" translate="programme.disponible"></p>
           <a href="programme.html" class="btn btn-primary btn-lg">
			 <span class="glyphicon glyphicon-eye-open"></span>
			 <span translate="programme.link"></span>
		   </a>
        </div>
      </div>
  	</div>
    <div class="col-md-4">
  	  <div class="panel panel-default transparent_white75">
  	    <div class="panel-body">
            <h3 translate="register.title"></h3>
            <p class="hidden-xs" translate="register.description"></p>
			<!-- a href="{{lienRegister()}}" class="btn btn-primary btn-lg">
              <span class="glyphicon glyphicon-bullhorn hidden-xs"></span>
              <span translate="register.link.name"></span>
            </a -->
			<p class="hidden-xs" translate="register.registrationfinished"></p>
            <a href="{{lienListeDattente()}}" class="btn btn-primary btn-lg ag-margin-before-after">
              <span class="glyphicon hidden-xs glyphicon-plus"></span>
              <span translate="register.queueLink.name"></span>
            </a>
            <a href="{{lienCaraEvenements()}}" class="btn btn-primary btn-lg">
              <span class="glyphicon glyphicon-eye-open hidden-xs"></span>
              <span translate="cara.eventslink.name"></span>
            </a>
          </div>
        </div>
  	</div>
	<div class="col-md-4">
  	  <div class="panel panel-default transparent_black65">
  	    <div class="panel-body">
            <h3 translate="agileinnovation.title"></h3>
            <p class="hidden-xs" translate="agileinnovation.description"></p>
            <a href="{{lienAI2015()}}" class="btn btn-primary btn-lg">
              <span class="glyphicon glyphicon-info-sign hidden-xs"></span>
              <span translate="agileinnovation.link.name"></span>
            </a>
          </div>
        </div>
  	</div>
  </div>
</div>
