<div class="content container">
  <div class="row hidden-xs">
    <div class="col-md-12">

	<div skrollr class="panel panel-default transparent_black65">
	   <div class="panel-body">
            <h1 class="ag-section-title hidden-xs hidden-sm" translate="accueil.title_ag"></h1>
            <p translate="accueil.description.paragraphe1"></p>
            <p translate="accueil.description.paragraphe2"></p>
            <p translate="accueil.description.paragraphe3"></p>
            <p translate="accueil.description.paragraphe4"></p>
            <p translate="accueil.description.paragraphe5"></p>
            <h2 translate="accueil.date"></h2>
        </div>
      </div>
    </div>
  </div>

</div>
