<div class="content container" >

  <div class="row hidden-xs hidden-sm">
    <div class="col-md-12 ">
      <div class="panel panel-default transparent_white85">
        <div class="panel-body">
          <h1 class="ag-section-title" translate="apropos.title"></h1>
          <p translate="apropos.description"></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-md-6 col-sm-6">
      <div class="panel panel-default transparent_black85">
        <div class="panel-body">
          <h3 translate="emails.title"></h3>
          <p class="hidden-xs" translate="emails.description"></p>
          <ul class="hidden-xs">
            <li>
              <a href="mailto:{{mails('emails.orateur.addr')}}" translate="emails.orateur.addr"></a>
              <span translate="emails.orateur.desc"></span>
            </li>
            <li>
              <a href="mailto:{{mails('emails.sponsor.addr')}}" translate="emails.sponsor.addr"></a>
              <span translate="emails.sponsor.desc"></span>
            </li>
            <li>
              <a href="mailto:{{mails('emails.inscription.addr')}}" translate="emails.inscription.addr"></a>
              <span translate="emails.inscription.desc"></span>
            </li>
            <li>
              <a href="mailto:{{mails('emails.contact.addr')}}" translate="emails.contact.addr"></a>
              <span translate="emails.contact.desc"></span>
            </li>
          </ul>
          <p class="visible-xs">
            <a href="mailto:{{mails('emails.orateur.addr')}} translate="emails.orateur.addr""></a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-6 hidden-xs">
      <div class="panel panel-default transparent_white85">
        <div class="panel-body">
          <h3>
            <img class="hidden-sm" src="client/media/logo/green_cara.png" width="32px">
            <span translate="cara.title"></span>
          </h3>
          <p translate="cara.description"></p>
          <a href="http://www.clubagilerhonealpes.org/" class="btn btn-primary btn-lg">
            <span class="glyphicon glyphicon-globe"></span>
            <span translate="cara.link.name"></span>
          </a>

        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-12">
       <div class="alert alert-info transparent_white85">
            <p>
              <span class="glyphicon glyphicon-copyright-mark"></span>
              2015 Club Agile Rhône Alpes - Crédits Photos:
              <span ng-repeat="credit in content.credits">
                <a href="{{credit.photourl}}" target="blank_">{{credit.desc}}</a>
                  <span translate="apropos.of"></span>
                  <a href="{{credit.ownername}}" target="blank_">{{credit.ownername}}</a>
                  <span translate="apropos.under"></span>
                  <a href="{{credit.licenceurl}}" target="blank_">licence {{credit.licencename}}</a>.
              </span>
            </p>
      </div>
    </div>
  </div>

</div>
