<div>
  <nav class="navbar navbar-fixed-top navbar-default" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="navbar-brand logo-nav visible-md visible-lg">
          <img  src="client/media/logo/logo_ag_white_64.png" alt="logo" width="80px">
        </div>
        <div class="navbar-brand logo-nav visible-sm">
          <img  src="client/media/logo/logo_ag_white_64.png" alt="logo" width="60px">
        </div>

        <h4 class="ag-agtext visible-md visible-lg">Agile Grenoble</h4>
        <p class="ag-agtext visible-sm">Agile Grenoble</p>
      </div>


      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
         <li smooth-scroll-jquery target="accueil" ng-class="{active: menuselected == 'accueil'}" ng-click="menuselected = 'accueil'">
              <a translate="accueil.title"></a>
          </li>
          <li smooth-scroll-jquery target="keynotes" ng-class="{active: menuselected == 'keynotes'}" ng-click="menuselected = 'keynotes'">
            <a translate="keynotes.title"></a>
          </li>
          <li smooth-scroll-jquery target="sponsors" ng-class="{active: menuselected == 'sponsors'}" ng-click="menuselected = 'sponsors'" >
              <a translate="sponsors.title"></a>
          </li>
          <li smooth-scroll-jquery target="orateurs" ng-class="{active: menuselected == 'orateurs'}" ng-click="menuselected = 'orateurs'">
              <a translate="orateurs.title"></a>
          </li>
          <li smooth-scroll-jquery target="participants" ng-class="{active: menuselected == 'participants'}" ng-click="menuselected = 'participants'">
              <a translate="participants.title"></a>
          </li>
          <li smooth-scroll-jquery target="apropos" ng-class="{active: menuselected == 'apropos'}" ng-click="menuselected = 'apropos'">
              <a translate="apropos.title"></a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <div class="navbar-brand" ng-click="setLang('fr_FR')">
            <a href="#"><img alt="FR" src="client/media/l10n/fr.png"></a>
          </div>
          <div class="navbar-brand" ng-click="setLang('en_US')">
            <a href="#"><img alt="EN" src="client/media/l10n/en.png"></a>
          </div>
        </ul>
      </div><!-- /.navbar-collapse -->


    </div><!-- /.container-fluid -->
  </nav>
</div>
