<div class="content container">

 <div class="row visible-lg visible-md">
    <div class="col-md-12">
      <div class="panel panel-default transparent_black75">
        <div class="panel-body">
        <h1 class="ag-section-title">Orateurs</h1>
        <p>
          L'équipe de l'Agile Grenoble aura le plaisir de vous accueillir au Word Trade Center le 19 novembre 2015 pour une nouvelle journée d'échange autour de l'agilité. Chaque année une cinquantaine d'orateurs de France et d'ailleurs contribuent à livrer un programme de qualité et riche en diversité.
        </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-md-5 col-sm-6 hidden-xs">
      <div class="panel panel-default transparent_white75">
        <div class="panel-body">
          <div class="media">
            <img class="visible-lg media-object pull-left img-responsive" src="client/media/icon_orange_speaker_100.png" width="64"/>
            <div class="media-body">
              <h3>Thème de la conférence</h3>
              Se développer ensemble !
              <!--p> En 2014, le thème principale de la conférence sera <strong>"Réconcilions Plaisir et Efficacité au Travail</strong>".
              Les sessions pourront s'organiser autour des thèmes suivants :
              </p-->
              <!--ul class="ag-noindent">
                <li>Plaisir et Excellence</li>
                <li>Partage et Emulation</li>
                <li>Désir et Réalité</li>
                <li>Changement et Energie</li>
              </ul-->
            </div>
          </div>
        </div>
      </div>
    </div>

		<div class="col-md-7 col-sm-6">
      <div class="panel panel-default transparent_white75">
        <div class="panel-body">
          <h3>Sessions soumises</h3>
          <p class="hidden-xs">
            Notre plateforme de soumissions permettra à tous nos potentiels orateurs de voir les sessions soumises afin
            d'échanger des feedback sur celles-ci et ainsi améliorer leur description ou même leur
            contenu. Vous pourrez changer et mettre au point la description de votre session soumise à
            tout moment grâce à cette plate-forme.
          </p>
          <!--a href="http://cfp.agile-grenoble.org/account/session/new" class="btn btn-primary btn-lg">
            <span class="glyphicon glyphicon-bullhorn hidden-xs"></span>
            Gérer votre session
          </a-->
          <!--a href="programme.html" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-eye-open"></span>
            Voir le programme
          </a-->
        </div>
      </div>
  	</div>

  </div>
</div>
