<div class="content container">

 <div class="row visible-lg visible-md">
    <div class="col-md-12">
      <div class="panel panel-default transparent_black75">
        <div class="panel-body">
        <h1 class="ag-section-title">Orateurs</h1>
        <p>
          L'équipe de l'Agile Grenoble aura le plaisir de vous accueillir au Word Trade Center le 19 novembre 2015 pour une nouvelle journée d'échange autour de l'agilité. Chaque année une cinquantaine d'orateurs de France et d'ailleurs contribuent à livrer un programme de qualité et riche en diversité.
        </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-md-5 col-sm-6 hidden-xs">
      <div class="panel panel-default transparent_white75">
        <div class="panel-body">
          <div class="media">
            <img class="visible-lg media-object pull-left img-responsive" src="client/media/icon_orange_speaker_100.png" width="64"/>
            <div class="media-body">
              <h3>Thème de la conférence</h3>              
              <p> En 2015, le thème principale de la conférence sera : <strong>se développer ensemble !</strong>
              Les sessions s'organiseront autour des thèmes suivants :
              </p>
              <ul class="ag-noindent">
                <li>Organisations et Management du 21ème siècle</li>
                <li>Développement personnel et collectif</li>
                <li>Nouveaux compétences et savoir-faire</li>
                <li>Bien être au travail</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

		<div class="col-md-7 col-sm-6">
      <div class="panel panel-default transparent_white75">
        <div class="panel-body">
          <h3>Sessions soumises</h3>
          <p class="hidden-xs">
            Notre plateforme de soumissions permet à tous nos potentiels orateurs de voir toutes les sessions soumises afin
            d'échanger des feedbacks sur celles-ci et ainsi améliorer leur description ou même leur
            contenu. Vous pouvez changer et mettre au point la description de votre session à
            tout moment grâce à cette plateforme.
          </p>
          <a href="http://cfp.agile-grenoble.org/account/session/new" class="btn btn-primary btn-lg">
            <span class="glyphicon glyphicon-bullhorn hidden-xs"></span>
            Soumettre et gérer votre session
          </a>
          <!--a href="programme.html" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-eye-open"></span>
            Voir le programme
          </a-->
        </div>
      </div>
  	</div>

  </div>
</div>
