<div class="content container">

 <div class="row visible-lg visible-md">
    <div class="col-md-12">
      <div class="panel panel-default transparent_black75">
        <div class="panel-body">
        <h1 class="ag-section-title" translate="orateurs.title"></h1>
        <p translate="orateurs.description"></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-md-5 col-sm-6 hidden-xs">
      <div class="panel panel-default transparent_white75">
        <div class="panel-body">
          <div class="media">
            <img class="visible-lg media-object pull-left img-responsive" src="client/media/icon_orange_speaker_100.png" width="64"/>
            <div class="media-body">
              <h3 translate="themes.title"></h3>
              <p translate="themes.description"></p>
              <ul class="ag-noindent">
                <li translate="themes.theme1"></li>
                <li translate="themes.theme2"></li>
                <li translate="themes.theme3"></li>
                <li translate="themes.theme4"></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

		<div class="col-md-7 col-sm-6">
      <div class="panel panel-default transparent_white75">
        <div class="panel-body">
          <h3 translate="cfp.title"></h3>
          <p class="hidden-xs" translate="cfp.description"></p>
          <a href="{{lienSoumission()}}" class="btn btn-primary btn-lg">
            <span class="glyphicon glyphicon-bullhorn hidden-xs"></span>
            <span translate="cfp.link.name"></span>
          </a>
          <!--a href="programme.html" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-eye-open"></span>
            Voir le programme
          </a-->
        </div>
      </div>
  	</div>

  </div>
</div>
