<div id="socialnetwork" class="panel panel-default transparent_black50 text-center">
  Share<br>
  <a href="https://plus.google.com/share?url={{url}}" ng-click="connectTo($event)">
    <img src="client/media/icon_gplus_40.png" alt="Google+" title="Google+" class="img-circle"/>
  </a><br>
  <a href="https://twitter.com/share?url={{url}}" ng-click="connectTo($event)">
    <img src="client/media/icon_twitter_40.png" alt="Twitter" title="Twitter" class="img-circle"/>
  </a><br>
  <a href='http://www.facebook.com/share.php?u={{url}}' ng-click="connectTo($event)">
    <img src='client/media/icon_facebook_40.png' alt="Facebook" title="Facebook" />
  </a>
</div>