<div class="content container">
  <div class="row hidden-xs">
    <div class="col-md-12">

      <div skrollr class="panel panel-default transparent_black65" data-start=" transform: scale(1.0); opacity:1.0;"
            data-500-start="opacity:0; transform: scale(0.25);">
          <div class="panel-body">
          <h1 class="ag-section-title">Agile Grenoble 2014</h1>              
            <p>
            Les méthodes agiles sont devenues incontournables. Elles ont prouvé leur efficacité et l'heure n'est plus aux questions mais à l'action !
            La conférence Agile Grenoble sera encore cette année l’évènement agile incontournable de la région. C'est le rendez-vous pour tous les professionnels qui souhaitent savoir comment s'y prendre, découvrir, échanger, apprendre, expérimenter, tester, approfondir leurs connaissances, ou simplement discuter autour de l'agilité. 
            <br/><br/>
            Organisé par le <a href="http://www.clubagilerhonealpes.org">Club Agile Rhône-Alpes</a> (Association Loi 1901), cet évènement prévoit d’accueillir sur une journée plus de 500 professionnels de la région et proposera plus de 45 sessions dans des domaines variés (Agilité, Lean, Management, Jeux, Ingénierie du logiciel). 
          </p>
        </div>
      </div>
      <div class="dateConference visible-md visible-lg"></div>
    </div>
  </div>

  
  <div class="row">



 
    <div class = "col-md-4" >    
      <div class="panel panel-default transparent_white65">
        <div class="panel-body text-center">
        <h1 class="ag-sponsor-text"><img src="images/media/icon_blue_money.png" alt="" width="64px"> Sponsors</h1>
        <p>
          Vous êtes une entreprise qui souhaite soutenir la conférence at associer son nom à l'une des plus importante conférence agile en France?
        </p>
        <a smooth-scroll-jquery target="sponsors" ng-click="menuselected = 'sponsors'" class="btn btn-primary btn-lg btn-ag-sponsor">
        <span class="glyphicon glyphicon-hand-right"></span>
        Accès Sponsors
        </a>
        </div>
      </div>            
    </div>   

 
    
    <div class = "col-md-4" >    
      <div class="panel panel-default transparent_white65">
        <div class="panel-body text-center">
        <h1 class="ag-orateur-text"><img src="images/media/icon_red_speaker.png" alt="" width="64px"> Orateurs</h1>
        <p>
          Vous êtes passionné et vous souhaitez partager votre expérience et vos idées sur l'agilité avec les participants de la conférence?
        </p>
        <a smooth-scroll-jquery target="orateurs" ng-click="menuselected = 'orateurs'" class="btn btn-primary btn-lg btn-ag-orateur">
        <span class="glyphicon glyphicon-hand-right"></span>
        Accès Orateurs
        </a>
        </div>
      </div>            
    </div> 

    
    <div class = "col-md-4" >    
      <div class="panel panel-default transparent_white65">
        <div class="panel-body text-center">
        <h1 class="ag-participant-text"><img src="images/media/icon_green_ticket.png" alt="" width="64px"> Participants</h1>
        <p> Vous souhaitez participer à la conférence et vous voulez en savoir plus sur les détails pratiques et le programme ce celle-ci?
        </p>
        <a smooth-scroll-jquery target="participants" ng-click="menuselected = 'participants'" class="btn btn-primary btn-lg btn-ag-participant">
        <span class="glyphicon glyphicon-hand-right"></span>
        Accès Participants
        </a>
        </div>
      </div>            
    </div> 



  </div>
</div>