<div class="content container" >
  <div class="row">
    <div class="col-md-12 ">
      <div class="panel panel-default transparent_black85">
        <div class="panel-body">
          <h1 class="ag-section-title">A Propos</h1>
          <p> Cette conférence existe depuis 2008 et il s'agit de sa 6ème édition consécutive. L'évènement est    entièrement organisé par les bénévoles du Club Agile Rhône-Alpes Grenoble, avec 
            le soutien bien évidemment de nos sponsors et partenaires. 
          </p>
        </div>
      </div>
    </div>
  </div>

 <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default transparent_white85">
        <div class="panel-body">
          <h3><img src="images/media/logo/green_cara.png" width="32px"> Club Agile Rhône Alpes (CARA)</h3>
          <p>Le CARA est association loi 1901 dont la raison d'être est la promotiont et la diffusion des méthodes agiles dans la région Rhône-Alpes au plus grand nombre et par tous moyens de communication et d’intervention: conférence, séminaire, rencontres, partenariats.
          </p>
          <a href="http://www.clubagilerhonealpes.org/" class="btn btn-primary btn-lg">
            <span class="glyphicon glyphicon-globe"></span>
            Visiter le site du CARA
          </a> 
        
        </div> 
      </div>
    </div>
     <div class="col-md-6">
      <div class="panel panel-default transparent_white85">
        <div class="panel-body">
          <h3>Contacts</h3>
          <p>Pour nous contacter avant la conférence envoyez-nous tout simplement un email :
            <ul ng-init="emails = [
              {
              addr:'orateur',
              desc: 'pour l&#146;appel à orateur et les soumissions de sessions'
              },
              {
              addr:'sponsor', 
              desc: 'pour l&#146;offre de sponsoring'
              },
              {
              addr:'inscription', 
              desc: 'pour les inscriptions à la conférence'
              },
              {
              addr:'contact', 
              desc: 'pour toute autre question au sujet de la conférence'
              }]" >  
              <li ng-repeat="email in emails">           
              <a href="mailto:{{email.addr}}@agile-grenoble.org" >
                {{email.addr}}@agile-grenoble.org
              </a> {{email.desc}}
             </li>        
           </ul>           
        </div> 
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
       <div class="alert alert-info transparent_black75">
            <p ng-init="credits = [
              {
              photourl:'http://www.camptocamp.org/images/377738/fr/la-cordee',
              desc: 'La Cordée',
              ownername:'susheen',
              ownerurl:'http://www.camptocamp.org/users/202842',
              licencename:'CC-by-SA',
              licenceurl:'http://creativecommons.org/licenses/by-sa/3.0/deed.fr'              
              },
              {
              photourl:'http://www.camptocamp.org/images/378896/fr/grenoble-sous-les-etoiles',
              desc: 'Grenoble sous les étoiles',
              ownername:'Benoit Audige',
              ownerurl:'http://www.camptocamp.org/users/11491',
              licencename:'CC-by-SA',
              licenceurl:'http://creativecommons.org/licenses/by-sa/3.0/deed.fr'              
              },
              {
              photourl:'http://www.camptocamp.org/images/241031/fr/un-matin-au-mont-rose',
              desc: 'Un matin au mont rose',
              ownername:'Jean-Louis Decosse',
              ownerurl:'http://www.camptocamp.org/users/13874',
              licencename:'CC-by-SA',
              licenceurl:'http://creativecommons.org/licenses/by-sa/3.0/deed.fr'              
              }]" >                   
              <span class="glyphicon glyphicon-copyright-mark"></span>
              2014 Club Agile Rhône Alpes - Crédits Photos: 
              <span ng-repeat="credit in credits">                
                <a href="{{credit.photourl}}" target="blank_">{{credit.desc}}</a>
                 de <a href="{{credit.ownername}}" target="blank_">{{credit.ownername}}</a>
                  sous <a href="{{credit.licenceurl}}" target="blank_">licence {{credit.licencename}}</a>.
              </span>
            </p>        
      </div>
    </div>
  </div>

</div>