<div ng-show="sponsors.length" class="panel panel-default transparent_black65">
  <div class="panel-body text-center carousel">
    <div ng-repeat="sponsor in sponsors" ng-show="isActive($index)" class="text-center">
        <div class="blockquote-size hidden-xs" ng-show="isActive($index)">
          <p ng-class="{gold: sponsor.gold}"><b>{{sponsor.niveau}}</b></p>
        </div>
        <div class="container slider slider-size">
          <img data-toggle="modal" data-target="#modal{{name}}{{$index}}" ng-click="stopSlideshow()" title="Cliquez pour plus d'informations sur {{sponsor.entreprise}}" class="slide" ng-src="images/sponsors/{{sponsor.photo}}" />
        </div>

        <!-- Modal -->
        <div class="modal fade" data-backdrop="static" id="modal{{name}}{{$index}}" tabindex="-1" role="dialog" aria-labelledby="modallabel{{name}}{{$index}}" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="startSlideshow()" aria-hidden="true">&times;</button>
                  <img data-toggle="modal" title="{{sponsor.entreprise}}" class="slide" ng-src="images/sponsors/{{sponsor.photo}}" />
              </div>
              <div class="modal-body text-left">
                <div ng-include="description(sponsor)"></div>
                <br>
                <p>
                  <a ng-href="{{sponsor.web}}">{{sponsor.web}}</a>
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="startSlideshow()">Fermer</button>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
