 <div class="modal-header">
    <h3>Connexion à Agile Grenoble</h3>
</div>
<div class="modal-body">
    <div class="modal-body-text">
    La connexion à Agile Grenoble vous permettra:
    <br>
    - en tant que sponsor, de récupérer le "kit sponsor"<br>
    - en tant qu'orateur, de soumettre et modifier une session.<br><br>
    
    Veuillez choisir le compte avec lequel vous souhaitez vous enregistrer sur Agile Grenoble.
    </div>
    <div ng-app="directive.g+signin">
        <!--google-plus-signin clientid="716048436468-et5li4nvhdu0ue2jcksad595q1jq4bhs.apps.googleusercontent.com"></google-plus-signin-->
      <google-plus-signin clientid="716048436468-akadfqan1a3497ectmfnc5sgh7dp13q0.apps.googleusercontent.com"></google-plus-signin>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Fermer</button>
</div>