  <div class="content container">
    <div class="row">
      <div class = "col-md-12" >   
        <div class="panel panel-default transparent_white75">
          <div class="panel-body">
          <h1 class="ag-section-title">Keynotes</h1>
          <p>Cette année, nous avons l'immense privilège d'inviter deux personnes (ou devrait-on dire "personnages")
          qui sont à la fois influenceurs, passionnés et changeurs de monde. Alexandre GERARD et François BEAUREGARD
          seront au rendez-vous le 20 novembre 2014 pour votre plus grand plaisir !
          </p>
        </div>
        </div>
      </div>
    </div>
  <div class="row">
    <div class = "col-md-6"> 
      <div class="panel panel-default transparent_black75">
        <div class="panel-body">                    
  	      <div class="media">            
  	        <img class="media-object pull-left img-thumbnail" src="images/portrait_ag.png" width="120px">
      		  <div class="media-body">
      		    <h3 class="media-heading">Alexandre GERARD</h3>              
      		    <p>Alexandre GERARD est PDG de la société Chrono FLEX, société fondée en 1995 et leader national du service mobile de dépannage de flexibles hydrauliques. 
                <br/><br/>"Nous avons transformé notre entreprise porte-avions en une armada de Speed Boat !”. C’est le sentiment qu’a aujourd’hui Alexandre, après 3 ans d’une vraie "libération" de l'entreprise. 
              L’objectif : ne jamais revivre la situation de 2009 ou après 13 ans de croissance ininterrompue l’entreprise perd 34 % de son chiffre d’affaires avec pour conséquence des licenciements.
                <br/><br/>Un chef d’entreprise devenu “entraîneur d’entraîneurs”, manager par “la vision et les valeurs”, travailler à améliorer l’environnement plutôt qu’incriminer les individus, miser sur la confiance et la responsabilisation plutôt que les consignes et le contrôle. Il semble qu’un changement agile d’entreprise, ça ressemblerait à ça.
    		      </p>                          
            </div>
          </div>
        </div>
      </div>
    </div> 
    <div class = "col-md-6" >    
     	<div class="panel panel-default transparent_white75">
        <div class="panel-body">
  		    <div class="media">
    				<img class="media-object img-thumbnail pull-left" src="images/portrait_fb.png" width="120px">
    			  <div class="media-body">
    				  <h3 class="media-heading">François BEAUREGARD</h3>
    				  <p>
                François est président et fondateur de Pyxis. Animé d’une passion pour le développement logiciel, il souhaite participer à des projets de développement logiciel dont les résultats sont exceptionnels tout en maximisant la qualité de vie et la satisfaction personnelle de tous les intervenants. <br/><br/> Formateur certifié en Management 3.0, François agit comme accompagnateur, formateur, facilitateur et conseiller expert pour des entreprises désirant améliorer leur productivité en développement informatique et adopter une approche Agile. <br/><br/> En juillet 2002, avec des collègues de Pyxis, il a fondé Agile Montréal, un groupe d’intérêt sur les méthodes de développement Agiles, et y fait des présentations régulièrement. 
                De plus, il a donné plusieurs conférences à Agile Tour, au PMI, à IIBA et lors d’événements agiles internationaux.
              </p>
  	          </div>
  	      </div>           
        </div>
      </div>
    </div>                    
  </div>
</div>
