<div class="content container">
	  
 <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default transparent_black75">
        <div class="panel-body">
        <h1 class="ag-section-title">Orateurs</h1>
        <p>
          L'équipe de l'Agile Grenoble aura le plaisir de vous accueillir au Word Trade Center le 20 novembre 2014 pour une nouvelle journée d'échange autour de l'agilité. Chaque année une cinquantaine d'orateurs de France et d'ailleurs contribuent à livrer un programme de qualité et riche en diversité.
          <br/>Si vous souhaitez partager vos expériences et votre vision de l'agilité en 2014, sachez que vous pouvez soumettre vos propositions dès maintenant!
        </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-md-5">
      <div class="panel panel-default transparent_white75">
        <div class="panel-body">            
          <div class="media">
            <img class="media-object pull-left img-responsive" src="images/media/icon_orange_speaker_100.png" width="64"/>
            <div class="media-body">
              <h3>Thèmes de la conférence</h3>
              <p> En 2014, le thème principale de la conférence sera <strong>"Réconcilions Plaisir et Efficacité au Travail</strong>".
              Les sessions pourront s'organiser autour des thèmes suivants :
              </p>
              <ul class="ag-noindent">
                <li>Plaisir et Excellence</li>
                <li>Partage et Emulation</li>
                <li>Désir et Réalité</li>
                <li>Changement et Energie</li>
              </ul>   
            </div> 
          </div>     
        </div>
      </div>
    </div>

 			<div class="col-md-7">
	      <div class="panel panel-default transparent_white75">
	        <div class="panel-body"> 
	          <h3>Soumission des sujets</h3>     
	          <p>
	            Une nouvelle platforme de soumissions est en place.
	            Elle vous permettra à tous nos potentiels orateurs de voir les sessions soumises afin 
	            d'échanger des feedback sur celles-ci et ainsi améliorer leur description ou même leur
	            contenu.
	            <strong>Attention!</strong> La date limite des soumissions est fixée au <strong>30 Juin 2014</strong> inclus. 
	          </p>    
	          <a href="http://secret-tundra-7433.herokuapp.com/" class="btn btn-primary btn-lg">
	            <span class="glyphicon glyphicon-bullhorn"></span>
	            Soumettre votre session
	          </a>                      
	               
	        </div> 
	      </div>
			</div>
  
  </div>
</div>
