<div class="content container">



  <div class="row">
  
  
		<div class="col-md-6">
		
			<div class="panel panel-default transparent_black50">
        <div class="panel-body">
  			  <h3 class="ag-section-title hidden-xs">Merci à nos sponsors 2014 <span class="sponsor-gold">GOLD</span></h3>  			
  			  
  			  			  
 						<div class="panel-group" id="accordionSponsors"> 		
 										
              <div class="panel panel-default"><!-- Samse -->
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <div data-toggle="collapse" data-parent="#accordionSponsorsGold" ng-href="#collapseSamse">
                    <span class="glyphicon glyphicon-chevron-right"></span> SAMSE 
                    </div>
                  </h4>
                </div>
                <div id="collapseSamse" class="panel-collapse collapse">
                  <div class="panel-body">
                  <p>
                Groupe indépendant de distribution de matériaux de construction pour le bâtiment et l’habitat, nous sommes leader sur la moitié est de la France, déployant un réseau commercial dense de plus de 260 points de vente. 
                Présent sur deux métiers, le négoce (avec des enseignes comme Samse et Doras) et le bricolage (avec La Boîte à Outils et L’Entrepôt du Bricolage), à travers nos enseignes, nous offrons à nos clients, professionnels du bâtiment ou particuliers, des offres complémentaires dans un réseau de proximité.
                 </p>
                  <a href="http://www.groupe-samse.fr/">www.groupe-samse.fr</a>
                  </div>
                </div>
              </div>  										
 										
              <div class="panel panel-default"><!-- Sogilis -->
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <div data-toggle="collapse" data-parent="#accordionSponsorsGold" ng-href="#collapseSogilis">
                    <span class="glyphicon glyphicon-chevron-right"></span> Sogilis
                    </div>
                  </h4>
                </div>
                <div id="collapseSogilis" class="panel-collapse collapse">
                  <div class="panel-body">
                  <p>
                  Sogilis est une équipe de passionnés de génie logiciel. Notre mission est d'accompagner nos clients à tendre vers le zéro défaut lors de développements logiciels, devenir autonome et réduire significativement les coûts de maintenance.
                  Les valeurs de Sogilis se résument en 4 principales : la passion, l'excellence technique, l'amélioration continue et la transparence.
                  Sogilis possède 2 pôles d'activités :
                  </p>
                  <ul>
                  	<li>Développement web, pour lequel nous privilégions un développement dirigé par les usages et l'ergonomie</li>
                  	<li>Logiciels embarqués critiques</li>
                  	<li>Sogilis vous accompagne pour vos développements from scratch et la reprise en main de legacy code.</li>  
                  </ul>
                  <a href="http://sogilis.com/">sogilis.com</a>
                  </div>
                </div>
              </div>  			  


             </div>   
   					
   		  </div>
   		  
      </div>
 	 
      <div ag-carousel="sponsors"></div>
    </div> 
 	
	<div class="col-md-6 hidden-sm hidden-xs"> 	
			<div class="panel panel-default transparent_black50">
        <div class="panel-body">
  			  <h3 class="ag-section-title">Merci à nos sponsors 2014 <span class="sponsor-silver">SILVER</span> </h3>  			
  			    			  			  
 						<div class="panel-group" id="accordionSponsors2"> 		
			         
              <div class="panel panel-default"><!-- Araymond -->
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <div data-toggle="collapse" data-parent="#accordionSponsors2" ng-href="#collapseAR">
                    <span class="glyphicon glyphicon-chevron-right"></span> ARaymond
                    </div>
                  </h4>
                </div>
                <div id="collapseAR" class="panel-collapse collapse">
                  <div class="panel-body">
                  <p>
                  Créée en 1865, ARaymond (5000 salariés, présent sur 4 continents) développe, fabrique et commercialise des solutions de fixation et d’assemblage depuis plusieurs générations.  
Etant l'un des leaders sur le marché de l’automobile, ARaymond a progressivement transposé son expertise et ses compétences vers de nouveaux marchés : INDUSTRIAL EQUIPMENT, BUILDING, ENERGIES, AGRICULTURE, LIFE.
Filiale Informatique de l'entreprise ARaymond, Raynet définit et met en œuvre la politique informatique de l'ensemble des sociétés du réseau Raymond. 
Raynet fournit à l'ensemble de l'entreprise une gamme de Services Informatiques la plus complète et innovante possible afin de proposer des solutions différenciantes à ses clients.
</p>
                  <a href="http://www.araymond.com/">www.araymond.com</a>
                  </div>
                </div>
              </div>        

     					<div class="panel panel-default"><!-- beebuzziness -->
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <div data-toggle="collapse" data-parent="#accordionSponsors2" ng-href="#collapsebb">
                    <span class="glyphicon glyphicon-chevron-right"></span> BEEBUZZINESS 
                    </div>
                  </h4>
                </div>
                <div id="collapsebb" class="panel-collapse collapse">
                  <div class="panel-body">
                  <p>
BEEBUZZINESS, start-up 100% française implantée à Grenoble, conçoit et développe depuis 2001 des solutions fortement innovantes d’édition numérique et d’enrichissement multimédia écoresponsables.
Technologies économes, citoyennes et responsables, elles accompagnent nos clients partout dans le monde dans la mise en place de leurs stratégies d’édition et leur permettent de réduire de moitié le coût total de possession de leur corpus documentaire.
Après sept années de recherche & développement pure et quatre années de commercialisation, près d’une trentaine de clients, parmi lesquels 13 sociétés du CAC 40, ont déjà choisi nos solutions à très forte valeur ajoutée.
 De nombreux prix sont venus récompenser nos innovations dont quatre Top Com d’Or et l’European Digital Communication Award en 2012.
 BEEBUZZINESS accompagne ses clients essentiellement dans les domaines de l’édition de documents de communication à usage interne et externe comme les rapports annuels, lettres aux actionnaires, classeurs de formation, de l’e-commerce avec des catalogues multimédia enrichis et de l’univers du livre et de la conservation du patrimoine.                
                 </p>
                  <a href="http://www.beebuzziness.com">www.beebuzziness.com</a>
                  </div>
                </div>
              </div>  

              <div class="panel panel-default"><!-- BonitaSoft -->
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <div data-toggle="collapse" data-parent="#accordionSponsors2" ng-href="#collapseBonitaSoft">
                    <span class="glyphicon glyphicon-chevron-right"></span> BonitaSoft
                    </div>
                  </h4>
                </div>
                <div id="collapseBonitaSoft" class="panel-collapse collapse">
                  <div class="panel-body">
                  <p>
Bonitasoft démocratise la Gestion des Processus Métier (Business Process Management ou BPM) en proposant une suite open source puissante, facile à intégrer et conviviale pour tous types d'organisation ou secteur d'activité. Bonitasoft et sa communauté open source offrent un écosystème de connecteurs vers les systèmes tiers d'une richesse inégalée.
Avec Bonitasoft, les utilisateurs fonctionnels et techniques peuvent modéliser, automatiser et optimiser les processus métier dans des domaines aussi variés que la finance, les ressources humaines, les ventes, le marketing, la logistique, l'administration électronique, etc.
Avec plus de 2 750 000 téléchargements, 975 clients et une communauté de plus de 60 000 membres, Bonitasoft est l'éditeur BPM qui connaît la plus forte croissance. 
 						</p>
                  <a href="http://www.bonitasoft.com/">www.bonitasoft.com</a>
                  </div>
                </div>
              </div>                	
		
							<div class="panel panel-default"><!-- Open -->
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <div data-toggle="collapse" data-parent="#accordionSponsors2" ng-href="#collapseOpen">
                    <span class="glyphicon glyphicon-chevron-right"></span> OPEN
                    </div>
                  </h4>
                </div>
                <div id="collapseOpen" class="panel-collapse collapse">
                  <div class="panel-body">
                  <p>
Avec plus de 3 000 collaborateurs, OPEN se positionne comme un acteur de la Transformation et de la Performance des Directions Informatiques des grandes entreprises. 
OPEN figure parmi les premières Entreprises de Services du Numérique françaises et exerce ses trois métiers - Conseil, Application Services et Infrastructure Services - en conjuguant des atouts qui font la différence : Professionnalisme & Proximité, Valeur & Innovation. 

Sa stratégie vise à créer un maximum de valeur pour ses clients ; c’est pour cette raison que les méthodes agiles chez OPEN prennent de plus en plus d’ampleur, à la fois dans les projets et dans les prestations de TMA. Beaucoup de SCRUM, un peu de KANBAN, des pratiques XP pour garantir la qualité industrielle de ses logiciels et du LEAN pour améliorer en permanence les processus de co-création et réduire le travail à faible valeur ajoutée.
La grande satisfaction des clients d’OPEN encourage les équipes et les Managers dans le développement de plusieurs centres de services agiles en Rhône-Alpes.
</p>
                  <a href="http://www.open-groupe.com/">www.open-groupe.com</a>
                  </div>
                </div>
              </div> 

          		<div class="panel panel-default"><!-- Moodys -->
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <div data-toggle="collapse" data-parent="#accordionSponsors2" ng-href="#collapseMA">
                    <span class="glyphicon glyphicon-chevron-right"></span> Moody's Analytics
                    </div>
                  </h4>
                </div>
                <div id="collapseMA" class="panel-collapse collapse">
                  <div class="panel-body">
                  <p>
								Moody’s Analytics est un des plus grands spécialistes mondiaux d’outils et de services de gestion du risque de crédit et du risque d’entreprise. Créée en 2007, Moody’s Analytics France compte plus de 200 personnes, dont 80 sont employées à Grenoble dans des activités de recherche et développement (R&D).</p>
                  <a href="http://www.moodysanalytics.com/france/">www.moodysanalytics.com</a>
                  </div>
                </div>
              </div>  

        			<div class="panel panel-default"><!-- persistent -->
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <div data-toggle="collapse" data-parent="#accordionSponsors2" ng-href="#collapsePersistent">
                    <span class="glyphicon glyphicon-chevron-right"></span> Persistent
                    </div>
                  </h4>
                </div>
                <div id="collapsePersistent" class="panel-collapse collapse">
                  <div class="panel-body">
                  <p>
                  Persistent Systems, entreprise globale spécialisée dans le développement logiciel et l’innovation technologique, aide depuis plus de vingt ans les plus importants acteurs technologiques mondiaux à innover.
La société compte 7000 employés et 350 clients principalement dans les secteurs de l’édition de logiciels, télécoms, sciences de la vie et santé, banque et assurance. Persistent Systems appuie principalement son développement sur 4 axes technologiques : Cloud Computing, Business Intelligence & Analytics, Plate-formes de collaboration et plate-formes pour mobiles.
Persistent Systems France est un centre de R&D qui développe des logiciels scientifiques depuis 1991. Quarante collaborateurs de profils divers mettent leur expertise technique et métier à votre service en toute agilité.
								</p>
                  <a href="http://www.persistentsas.com">www.persistentsas.com</a>
                  </div>
                </div>
              </div>      

							<div class="panel panel-default"><!-- saleforce -->
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <div data-toggle="collapse" data-parent="#accordionSponsors2" ng-href="#collapsesf">
                    <span class="glyphicon glyphicon-chevron-right"></span> Saleforce
                    </div>
                  </h4>
                </div>
                <div id="collapsesf" class="panel-collapse collapse">
                  <div class="panel-body">
                  <p>
                  Salesforce.com est le leader mondial de la gestion de la relation clients (CRM, customer relationship management). Nous avons été les pionniers de la transition vers les solutions Cloud pour l’entreprise, et aujourd’hui nous sommes les numéros un sur l’ensemble de nos produits - Sales Cloud, Service Cloud, Marketing Cloud et Salesforce Platform.
Nos technologies sociales et mobiles aident des milliers de sociétés à connecter leurs clients, leurs partenaires, leurs employés et leurs produits de manière totalement nouvelle. Nous sommes la société avec la plus forte croissance figurant dans le top 10 mondial des « enterprise software companies ». 
Salesforce.com a été nommée société la plus innovante au monde par le magazine Forbes trois ans de suite, et fait partie cinq ans d’affilée des « Best Companies to Work for » du magazine Fortune. Notre culture à visage humain, fondée sur l’esprit d’initiative et la technologie fonde la « #dreamjob experience » pour nos ingénieurs situés autour du monde.
									</p>
                  <a href="http://www.salesforce.com">www.salesforce.com</a>
                  </div>
                </div>
              </div>   

         			<div class="panel panel-default"> <!-- sopra -->
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <div data-toggle="collapse" data-parent="#accordionSponsors2" ng-href="#collapseSopra">
                    <span class="glyphicon glyphicon-chevron-right"></span> Sopra
                    </div>
                  </h4>
                </div>
                <div id="collapseSopra" class="panel-collapse collapse">
                  <div class="panel-body">
                  <p>
                  Sopra Group, acteur majeur du conseil, des services technologiques et de l’édition de logiciels en Europe, accompagne ses clients dans la réussite de la transformation de leurs métiers et de leurs systèmes d’information. 

Combinant valeur ajoutée et innovation dans les solutions apportées, qualité industrielle et performance des services délivrés, Sopra Group est le partenaire de référence des grandes entreprises et organisations qui recherchent le meilleur usage du numérique pour assurer leur développement et leur compétitivité. Sa filiale, Sopra Banking Software, est un éditeur leader, spécialisé dans les solutions applicatives pour le marché financier.
                  </p>
                  <a href="http://www.sopragroup.fr/">www.sopragroup.fr</a>
                  </div>
                </div>
              </div>                   

          		<div class="panel panel-default"><!-- Thalès -->
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <div data-toggle="collapse" data-parent="#accordionSponsors2" ng-href="#collapseThales">
                    <span class="glyphicon glyphicon-chevron-right"></span> Thales
                    </div>
                  </h4>
                </div>
                <div id="collapseThales" class="panel-collapse collapse">
                  <div class="panel-body">
                  <p>
Thales Services est en charge de l’ingénierie des systèmes et du logiciel pour les entreprises et les gouvernements  (systèmes d'information critiques, temps réel, embarqués ...).
Nous mettons en oeuvre depuis 2008 des méthodes agiles dans nos projets et dans notre organisation et les promouvons aussi bien en interne qu'en externe. Avec l'agilité, nous défendons les intérêts de nos clients en livrant régulièrement des produits à forte valeur ajoutée, en construisant une relation de confiance mais nous défendons aussi les intérêts de nos collaborateurs en leur redonnant des responsabilités et un cadre motivant.                
                 </p>
                  <a href="http://www.thalesgroup.com/">www.thalesgroup.com</a>
                  </div>
                </div>
              </div>    
              <div class="panel panel-default"><!-- Zenika -->
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <div data-toggle="collapse" data-parent="#accordionSponsors2" ng-href="#collapseZenika">
                    <span class="glyphicon glyphicon-chevron-right"></span> Zenika
                    </div>
                  </h4>
                </div>
                <div id="collapseZenika" class="panel-collapse collapse">
                  <div class="panel-body">
                  <p>
 Zenika est un cabinet spécialisé dans l'architecture informatique, l'Open Source et les méthodes agiles possédant une triple compétence de conseil, de réalisation et de formation. 
Son expertise technologique (Java/JEE, JavaScript, Open Source, Web ...) et agile (Scrum, contractualisation agile, Management 3.0, transformation d'entreprise, Lean startup ...) permet à ses clients de mettre l'innovation au service de la création de valeur. Zenika bénéficie ainsi de la confiance de références prestigieuses telles que, sur la région Rhône-Alpes, ERDF, Grand Frais, Orange, Feu Vert ou encore la CNAMTS, et au niveau national BNP Paribas, AFP, ING, Ministère de la Défense, Société Générale, Banque de France, ...
Présente à Lyon et sur la région Rhône-Alpes depuis 2009, labellisée "Great Place To Work", Zenika est en recherche permanente de talents pour répondre à son fort développement régional et national. Que vous soyez coach agile, architecte, expert technique, lead développeur ou développeur passionné(e), si vous êtes à la recherche de nouveaux challenges, envoyez vite votre candidature à jobs@zenika.com !
</p>
                  <a href="http://www.zenika.com/">www.zenika.com</a>
                  </div>
                </div>
              </div>                                 			  
   		 			</div>   		 			
   				</div>   	
  			</div>  
   		  
      </div> 	  
 	  </div>
  </div>	  

