<div class="content container">
	
  <div class="row">
		<div class="col-md-12">
			<div class="panel panel-default transparent_black75">
        <div class="panel-body">
  			  <h1 class="ag-section-title">Sponsors</h1>
  			  <p>
            Nous vous proposons de soutenir l'évènement Agile Grenoble 2014 qui se déroulera le jeudi 20 novembre
            2014 au centre de congrès World Trade Center de Grenoble. Agile Grenoble, après avoir réuni 500 personnes
            en 2011, 2012 et 2013, est une des plus importante conférence agile française.<br/>
  			    C'est une occasion unique d'associer le nom de votre entreprise à cet événement grenoblois qui réunira des
            décideurs de tous secteurs, directeurs, managers, chefs de projets, développeurs, testeurs
            et chercheurs, en souscrivant à l'une des offres proposées.
  			  </p>
   		  </div>
      </div>
 		</div>
 	</div>

	<div class="row">
   		
    <div class="col-md-5">
      <div class="panel panel-default transparent_white75">
        <div class="panel-body">            
          <div class="media">
            <img class="media-object pull-left img-responsive" src="images/media/icon_orange_notes_100.png" width="64"/>
            <div class="media-body">
              <h3>Agile Grenoble 2014, c'est...</h3>
              <ul class="ag-noindent">
                <li>500 participants dans un cadre de prestige</li>
                <li>Deux keynotes orateurs reconnus mondialement</li>
                <li>Une déjeuner propice au networking</li>
                <li>45 sessions réparties sur 9 salles</li>
                <li>Un tarif d'entrée attractif</li>
              </ul>     
            </div> 
          </div>     
        </div>
      </div>

      <div class="panel panel-default transparent_white75">
        <div class="panel-body"> 
          <h3>En savoir plus?</h3>     
          <p>
            Contacter l'organisation pour obtenir plus de détails sur 
            l'offre de sponsorsing ou pour manifester votre soutien à la conférence.
          </p>    
          <a href="mailto:sponsor@agile-grenoble.org" class="btn btn-primary btn-lg">
            <span class="glyphicon glyphicon-envelope"></span>
            Contacter l'organisation
          </a>                      
               
        </div> 
      </div>

    </div>

    <div class="col-md-7">
      <div class="panel panel-default transparent_black75">
        <div class="panel-body"> 

          <h3>Découvrez les offres
            <div class="btn-group" role="toolbar" ng-init="offre='silver'">
              <button type="button"  ng-class="{'btn btn-ag-panel-default': offre == 'gold', 'btn btn-ag-panel-selected ': offre == 'silver'}"   ng-click="offre='silver'">Silver</button>              
              <button type="button"  ng-class="{'btn btn-ag-panel-default': offre == 'silver', 'btn btn-ag-panel-selected': offre == 'gold'}"  ng-click="offre='gold'">Gold</button>              
            </div>
          </h3> 

          <div ng-show="offre == 'gold'">
          <p>L'offre Gold, c'est</p>
          <ul>        
            <li>L'ensemble des avantages de l'offre Silver</li>
            <li>Un espace prévilégié pour votre stand</li>
            <li>L'envoi d'une communication personnalisée par email aux participants</li>
            <li>10 minutes de présentation dans l'amphithéâtre incluant la présentation de votre entreprise</li>
          </ul>
          </div>

          <div ng-show="offre == 'silver'">
          <p>L'offre Silver, c'est</p>
          <ul>
            <li>Exploiter le logo "Sponsor Agile Grenoble 2014" sur vos outils de communication</li>
            <li>Affichage de votre logo et entreprise sur tous nos supports de communication</li>
            <li>Un stand sur le lieu de la conférence avec affichage (type kamémono)</li>            
          </ul>
          </div>

        </div>
      </div> 
    </div>
  </div>


</div>

