<div class="content container">

  <div class="row visible-lg">
		<div class="col-md-12">
			<div class="panel panel-default transparent_black75">
        <div class="panel-body">
  			  <h1 class="ag-section-title">Sponsors</h1>
  			  <p>
            Nous vous proposons de soutenir l'évènement Agile Grenoble 2014 qui se déroulera le jeudi 20 novembre
            2014 au centre de congrès World Trade Center de Grenoble. Agile Grenoble, après avoir réuni 500 personnes
            en 2011, 2012 et 2013, est une des plus importantes conférences agiles françaises. C'est une occasion unique d'associer le nom de votre entreprise à cet événement grenoblois qui réunira des
            décideurs de tous secteurs, directeurs, managers, chefs de projets, développeurs, testeurs
            et chercheurs, en souscrivant à l'une des offres proposées.
  			  </p>
   		  </div>
      </div>
 		</div>
 	</div>

	<div class="row">
   		
    <div class="col-md-7 col-sm-7">
        <div class="panel panel-default transparent_black75">
          <div class="panel-body"> 

            <h3>Découvrez les offres</h3>

            <div class="panel-group" id="accordionOffre">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordionOffre" ng-href="#collapseOneOffre">
                      Offre Gold
                    </a>
                  </h4>
                </div>
                <div id="collapseOneOffre" class="panel-collapse collapse">
                  <div class="panel-body">
                     <ul>        
                      <li>L'ensemble des avantages de l'offre Silver</li>
                      <li>Un espace prévilégié pour votre stand</li>
                      <li>L'envoi d'une communication personnalisée par email aux participants</li>
                      <li>10 minutes de présentation dans l'amphithéâtre incluant la présentation de votre entreprise</li>
                      <li>Tarif <b>3 800 €</b></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordionOffre" ng-href="#collapseTwoOffre">
                      Offre Silver
                    </a>
                  </h4>
                </div>
                <div id="collapseTwoOffre" class="panel-collapse collapse">
                  <div class="panel-body">
                     <ul>
                      <li>Exploiter le logo "Sponsor Agile Grenoble 2014" sur vos outils de communication</li>
                      <li>Affichage de votre logo et entreprise sur tous nos supports de communication</li>
                      <li>Un stand sur le lieu de la conférence avec affichage (type kamémono)</li>            
                      <li>Deux entrées offertes pour tenue du stand</li>
                      <li>Tarif <b>1 700 €</b></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <h3 class="hidden-xs">En savoir plus?
              <a href="mailto:sponsor@agile-grenoble.org" class="btn btn-primary btn-sm btn-sm">
                  <span class="glyphicon glyphicon-envelope"></span>
                  Nous contacter
              </a>
            </h3>
          </div>
        </div> 
      </div>
        
      <div class="hidden-xs col-md-5 col-sm-5">
        <div class="panel panel-default transparent_white75">
          <div class="panel-body">            
            <div class="media">
              <img class="media-object pull-left img-responsive hidden-xs hidden-sm" src="images/media/icon_orange_notes_100.png" width="64"/>
              <div class="media-body">
                <h3>Agile Grenoble 2014, c'est...</h3>
                <ul class="ag-noindent">
                  <li>500 participants dans un cadre de prestige</li>
                  <li>Deux keynotes données par des orateurs reconnus mondialement</li>
                  <li>Une déjeuner propice au networking</li>
                  <li>45 sessions réparties sur 9 salles</li>
                  <li>Un tarif d'entrée attractif</li>
                </ul>     
              </div> 
            </div>     
          </div>
        </div>
      </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div ag-carousel="sponsors"></div>
    </div>
  </div>

</div>

