<div class="content container">
  <div class="row">
    <div class="col-md-12">

	<div skrollr class="panel panel-default transparent_black65">
	   <div class="panel-body">
            <h1 class="ag-section-title visible-lg" translate="agilegreconf.title"></h1>
            <h3 class="ag-section-title visible-sm" translate="agilegreconf.title"></h3>
            <h4 class="ag-section-title visible-xs" translate="agilegreconf.title"></h4>
            <h4 class="hidden-xs hidden-sm" translate="agilegreconf.title_ag"></h4>
            <p class="visible-sm" translate="agilegreconf.title"></p>
            <p class="hidden-xs hidden-sm" translate="agilegreconf.description"></p>
          </div>
        </div>

     </div>
   </div>

   <div class="row">
      <!--div class="col-md-6">
          <div class="panel panel-default transparent_black65">
              <div class="panel-body">
                 <div class="media">
                   <img class="visible-lg media-object pull-left img-responsive" src="client/media/icon/icon_orange_speaker_100.png" width="64"/>
                   <div class="media-body">
			<h3 translate="agilegreconf.callforpaperstitle"></h3>
    			<div class="message" translate="agilegreconf.callforpapers3"></div>
    			<span translate="callforpaperslink"></span></div>
                        <div smooth-scroll-jquery target="orateurs" class="btn btn-primary btn-lg">
        			<span class="glyphicon glyphicon-info-sign hidden-xs"></span>
                        	<span translate="orateurs.title"></span>  
                    </div>
                  </div>
              </div>
          </div>
      </div-->
      <!--div class="col-md-6">
          <div class="panel panel-default transparent_black65">
                 <div class="panel-body">
                <img src="client/media/icon/icon_orange_notes_100.png" width="50px"/>
               <div class="message" translate="agilegreconf.selection">
            </div>
          </div>
      </div-->
      <div class="col-md-12">
          <div class="panel panel-default transparent_black65">
              <div class="panel-body">
                 <div class="media">
                   <img class="visible-lg media-object pull-left img-responsive" src="client/media/icon/icon_orange_ticket_128.png" width="64"/>
                   <div class="media-body">
                        <div class="message" translate="ticket.description">
                        </div>
                        <div smooth-scroll-jquery target="ticket" class="btn btn-primary btn-lg">
                                <span class="glyphicon glyphicon-info-sign hidden-xs"></span>
                                <span translate="ticket.title"></span>
                        </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>

   </div>
   <div class=row>

    <div class="col-md-6 hidden-xs">
      <div class="panel panel-default transparent_black65">
        <div class="panel-body">
          <div class="media">
            <img class="visible-lg media-object pull-left img-responsive" src="client/media/icon/icon_orange_notes_100.png" width="64"/>
            <div class="media-body">
              <h3 translate="themes.title"></h3>
              <p translate="themes.description"></p>
              <ul class="ag-noindent">
                <li translate="themes.theme1"></li>
                <li translate="themes.theme2"></li>
                <li translate="themes.theme3"></li>
                <li translate="themes.theme4"></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>


     <div class="col-md-6">
          <div class="panel panel-default transparent_black65">
              <div class="panel-body">
                 <div class="media">
                    <div class="media-body">
                        <!--div class="message" translate="program.nondisponible">
                        </div-->
                        <!-- div class="media-body">
                             <div class="message" translate="topics.description">
                             </div>
                             <div smooth-scroll-jquery target="topics" class="btn btn-primary btn-lg">
                                     <span class="glyphicon glyphicon-info-sign hidden-xs"></span>
                                     <span translate="topics.title"></span>
                             </div>
                         </div -->		
			                <a href="conf-programme.html" class="btn btn-primary btn-lg">
                          <span class="glyphicon glyphicon-eye-open"></span>
                          <span translate="program.link.title"></span>
			                </a>
                      <br><br><br>
                      <div smooth-scroll-jquery target="topics" class="btn btn-primary btn-lg">
                                <span class="glyphicon glyphicon-eye-open hidden-xs"></span>
                                <span translate="topics.title"></span>
                      </div>
                  </div>
              </div>
          </div>
      </div>


   </div>


   <div class=row >
         <div class="visible-lg visible-sm visible-md text-center">
            <img  src="client/media/icon/fleche.png" alt="scroll down" />
         </div>
   </div>


<!-- EVA idea 2016-07-17 : une colonne orateurs avec nous recherchons des ... (qui sera remplacé par participants/inscription en septembre) , une sponsors pour mettre un lien dessus , une colonne 'programme' (keynote et sélection) -->

</div>


