<!--<div class="ui-notification">
    <img src="client/media/icon/icon_orange_speaker_100.png"/>
    <h3 ng-show="title"translate="agilegreconf.callforpaperstitle"></h3>
    <div class="message" translate="agilegreconf.callforpapers2">
    <span translate="callforpaperslink"></span></div>
    <a href="http://my.efm.me/m4/itw/answer/s/g626c681k2/k/AO" class="btn btn-primary btn-lg">
        <span class="glyphicon glyphicon-info-sign hidden-xs"></span>
        <span translate="agilegreconf.callforpaperslink.name"></span>
    </a>

</div>
-->
