<div class="content container" >

  <div class="row hidden-xs hidden-sm">
    <div class="col-md-12">
      <div class="panel panel-default transparent_white85">
        <div class="panel-body">
          <img class="visible-lg media-object pull-left img-responsive" src="client/media/icon/icon_orange_ticket_128.png" width="64"/>
          <h1 class="ag-section-title" translate="ticket.title"></h1>
          <p translate="ticket.description"></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row visible-lg visible-md visible-sm">
    <!--div class="col-sm-9">
      <div class="visible-lg" >
          <iframe src="https://yurplan.com/event/Agile-Grenoble-Conf-2016/10780/tickets/widget?info=1&from=widget&default_culture=fr" height="650" width=100% scrolling="auto" frameborder="0"></iframe>
      </div>
      
      <div class="visible-md" >
          <iframe src="https://yurplan.com/event/Agile-Grenoble-Conf-2016/10780/tickets/widget?info=1&from=widget&default_culture=fr" height="650" width=100% scrolling="auto" frameborder="0"></iframe>
      </div>
      <div class="visible-sm" >
          <iframe src="https://yurplan.com/event/Agile-Grenoble-Conf-2016/10780/tickets/widget?info=1&from=widget&default_culture=fr" height="600" width=100% scrolling="auto" frameborder="0"></iframe>
          
      </div>
     </div-->
    <div class="col-sm-12">
      <div>
          <img src="client/media/complet-soldout.png" style="height:150px;" alt="complet/sold-out" />
      </div>
     </div>
   </div>
   

   
   <div class="row">
     <div class="col-sm-9">
            <div class="panel panel-default transparent_white85">
              <div class="panel-body">
                <p translate="register.registrationfinished"></p>
                <div class="btn btn-primary btn-ag-sponsor">
                   <a href="https://docs.google.com/forms/d/e/1FAIpQLScEF1Cgn44TG-uAR4qyX-e-bwTmccEgZ_-7q7kfcB5TM4JRkQ/viewform" style="text-decoration: none; color: white;">
                      <p translate="register.queueLink.name"></p>
                   </a>
                </div>
              </div>
            </div>
     </div>
     <div class="col-sm-3">
        
            <div class="panel panel-default transparent_white85">
              <div class="panel-body">
                <a href="./index.html" style="text-decoration: none; color: black;">
                  <span class="glyphicon glyphicon-info-sign"></span><p translate="ticket.info"></p>
                  <img src="client/media/logo/logo_ag_black_100.png" alt="logo" width="60px">
                </a>
              </div>
            </div>
     </div>
   </div>


</div>
