<div class="content container">

 <div class="row visible-lg visible-md">
    <div class="col-md-12">
      <div class="panel panel-default transparent_black75">
        <div class="panel-body">
        <h1 class="ag-section-title" translate="topics.title"></h1>
        <p translate="topics.description"></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

		<div class="col-md-12">
          <div class="panel panel-default transparent_black75">
               <div class="panel-body">
                 <div class="media">
                   <div class="media-body">
										 <b>Keynotes:</b>
										<ul>
											<li><a href="http://www.slideshare.net/christiandh/pedagogie-agile-grenoble-nov-2016">Agilité et Biomimétisme dans la pédagogie - Christian Den Hartigh</a></li>
											<li><a href="http://pt.slideshare.net/provaglio/the-beating-heart-of-agile">The beating heart of Agile - Andrea Provaglio</a></li>
										<ul>
                   </div>
                </div>
            </div>
          </div>
      </div>			
      <div class="col-md-12">
          <div class="panel panel-default transparent_black75">
               <div class="panel-body">
                 <div class="media">
                   <div class="media-body">
										 <b>Sessions:</b>
                    <ul>
			<li><a href="client/media/presentations/UsableSoftwareDesignCodeUtilisable.pptx">Usable Software Design - Code utilisable</a>
			</li><li>L'art de la rétrospective - Alexandre BOUTIN
			</li><li><a href="client/media/presentations/Obeya.pdf">On a fait bouger le mammouth avec une Obeya ! - Sébastien GOODWIN</a>
			</li><li>Trouillométrie: une nouvelle echelle de l'agilité - Karim BENAMEUR
			</li><li><a href="client/media/presentations/LabOratoirePrFrankenstein.pdf">Le Lab Oratoire du Dr. Frankenstein, ou comment (re)donner vie à la Créature Agile - Franck RAGEADE</a>
			</li><li><a href="http://www.leguedois.fr/cessons-les-estimations">Cessons les estimations ! - Frédéric LEGUEDOIS</a>
			</li><li><a href="client/media/presentations/ScrumMaster.pdf">Qu'est-ce qu'un Scrum Master ? - Romain COUTURIER</a>
			</li><li><a href="client/media/presentations/Interactionssouples.pdf">Des interactions souples et déterminées - Pierre FAUVEL</a>
			</li><li>La pensée positive pour favoriser le changement - Matthieu BARBEREAU
			</li><li><a href="http://fr.slideshare.net/alicebarralon9/alice-in-agile-land">Alice in Agile-Land - Alice</a>
			</li><li>Le Product owner débutant - Laurent TARDIF
			</li><li><a href="client/media/presentations/IntroductionKanban.pdf">Introduction à Kanban - Sébastien GOODWIN</a>
			</li><li>Être une équipe libérée tu sais c'est pas si facile ! - Nathalie JEAUFFROY
			</li><li><a href="client/media/presentations/Dod.pdf">Le DoD, pierre angulaire de l'agilité - Landry CURMI</a>
			</li><li>Elephant Carpaccio Game : un produit opérationnel tout le temps - Vincent DAVIET
			</li><li><a href="client/media/presentations/tddLego_AgileGrenoble_2016.pdf">Sensibilisation aux bonnes pratiques techniques du Software Craftsmanship : Lego® à la rescousse ! - Isabelle BLASQUEZ</a>
			</li><li>Gribouille Académie en action : dessine moi le manifeste - Jean Pierre BONNAFOUS
			</li><li><a href="client/media/presentations/BillesRouges.pdf">Le jeu des billes rouges et la balle supersonique - Damien BONHOMME</a>
			</li><li>DevOps Mindstorms - Laurent Eyraud
			</li><li><a href="client/media/presentations/agilitepourlesnuls.pdf">L'Agilité pour les Nuls - Elise VANHOLSBEECK</a>
			</li><li><a href="client/media/presentations/AnimationRetrospective.pptx">J'anime une rétrospective productive - Maxime BONNET</a>
			</li><li><a href="client/media/presentations/ReleasePlanningDays.pdf">Scaling Agile - Release Planning Days @meetic : story of a collective ritual of agile acculturation - Nicolas KALMANOVITZ</a>
			</li><li><a href="client/media/presentations/JobStories.pdf">Mort aux User Stories ! Vive les Job Stories ! - Thierry RAGUIN</a>
			</li><li>Story mapping par la pratique - Nicolas THIBERT
			</li><li>0ptimiser l’engagement des équipes en individualisant vos pratiques - Philippe HOUSSIN
			</li><li><a href="http://slides.azeau.com/20161117-impasse-culturelle/">L'artisanat du logiciel : une impasse culturelle ? - Olivier AZEAU</a>
			</li><li><a href="client/media/presentations/BDD.pdf">Spécification par l'exemple par l'exemple: le BDD démystifié - Gérald REINHART
			</li><li><a href="http://dusseaut.name/1-an-dans-le-kube/">Une infra au service de vos Bounded Contexts - Jean-Baptiste DUSSEAUT</a>
			</li><li><a href="http://slides.com/nastasiasaby/courage-tests-qualitatifs#/">Il faut du courage pour développer, des tests qualitatifs à la rescousse - Nastasia SABY</a>
			</li><li><a href="client/media/presentations/Histoiredunepetiteentreprise.pdf">Histoire d'une petite entreprise de signalétique qui se veut agile - Patrice BOISIEAU</a>
			</li><li>Café Chacal - Jean-François JAGODZINSKI
			</li><li><a href="https://drive.google.com/file/d/0BweiELLVQscbXzhrdlgxMmlFeEU/view">Soyons collectivement intelligent - Emmanuel HERVE</a>
			</li><li>DevOps pour les nuls - Alain DELAFOSSE
			</li><li>Une revue de la revue de code - Manuel VACELET
			</li><li>Parfaitement contre-intuitif et totalement novateur : #NoEstimates et #MobProgramming - Nicolas UMIASTOWSKI
			</li><ul>
                   </div>
                </div>
            </div>
          </div>
      </div>


  </div>
</div>
