<div class="content container">
  <div class="row">
    <div class="col-md-12">
        <div skrollr class="panel panel-default transparent_black65">
            <div class="panel-body">
                <h1 class="ag-section-title visible-lg" translate="accueil.title_ag"></h1>
                <h2 class="ag-section-title visible-md" translate="accueil.title_ag"></h2>
                <h3 class="ag-section-title visible-sm" translate="accueil.title_ag"></h3>
                <h4 class="ag-section-title visible-xs" translate="accueil.title_ag"></h4>
                <h4 class="ag-section-title" translate="accueil.date"></h4>
                <p class="visible-lg visible-md visible-sm" translate="accueil.description"></p>
            </div>
        </div>
        <div skrollr class="panel panel-default transparent_black65">
            <div class="panel-body">
                <h1 class="ag-section-title visible-lg" translate="billetterie.title"></h1>
                <h2 class="ag-section-title visible-md" translate="billetterie.title"></h2>
                <h3 class="ag-section-title visible-sm" translate="billetterie.title"></h3>
                <h4 class="ag-section-title visible-xs" translate="billetterie.title"></h4>
                <div class="width:100%; float:left">
                    <iframe src="https://yurplan.com/event/Agile-Grenoble-4-Kids-2016/10788/tickets/widget?from=widget&default_culture=fr" height="500" width=100% scrolling="auto" frameborder="0"></iframe>
                    <div style="font-family:Helvetica, Arial; font-size:13px; padding:5px 15px 10px; width:100%; text-align:left;" >
                        <a title="Logiciel de billetterie" style="color:#ddd; text-decoration:none;" target="_blank" href="https://yurplan.com/pro/billetterie/billetterie-en-ligne">Logiciel de billetterie</a>
                        <span style="color:#ddd;">par</span> <a title="Logiciel de billetterie par YurPlan" style="color:#ddd; text-decoration:none;" target="_blank" href="https://yurplan.com">YurPlan</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
</div>
