<div class="content container" >

  <!--div class="row hidden-xs hidden-sm">
    <div class="col-md-6">
      <div class="panel panel-default transparent_white85">
        <div class="panel-body">
          <img class="visible-lg media-object pull-left img-responsive" src="client/media/icon/icon_orange_ticket_128.png" width="64"/>
          <h1 class="ag-section-title" translate="ticket.title"></h1>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default transparent_white85">
        <div class="panel-body">
          <p translate="ticket.description"></p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
  </div-->

  <div class="row visible-lg visible-md visible-sm">
    <div class="col-sm-9">
      <div class="visible-lg" >
          <iframe src="https://yurplan.com/event/Agile-Grenoble-4-Kids-2016/10788/tickets/widget?info=1&from=widget&default_culture=fr" height="650" width=100% scrolling="auto" frameborder="0"></iframe>
      </div>
      
      <div class="visible-md" >
          <iframe src="https://yurplan.com/event/Agile-Grenoble-4-Kids-2016/10788/tickets/widget?info=1&from=widget&default_culture=fr" height="650" width=100% scrolling="auto" frameborder="0"></iframe>
      </div>
      <div class="visible-sm" >
          <iframe src="https://yurplan.com/event/Agile-Grenoble-4-Kids-2016/10788/tickets/widget?info=1&from=widget&default_culture=fr" height="600" width=100% scrolling="auto" frameborder="0"></iframe>
          
      </div>
     </div>
     <div class="col-sm-3">
        
            <div class="panel panel-default transparent_white85">
              <div class="panel-body">
                <a href="./index.html" style="text-decoration: none; color: black;">
                  <span class="glyphicon glyphicon-info-sign" translate="ticket.info"> </span>
                  <img src="client/media/logo/logo_ag_black_100.png" alt="logo" width="60px">
                </a>
                <br/></br>
                <div style="font-family:Helvetica, Arial; font-size:13px; padding:5px 15px 10px; width:100%; text-align:left;" >
                      <a title="Logiciel de billetterie" style="text-decoration:none;" target="_blank" href="https://yurplan.com/pro/billetterie/billetterie-en-ligne">Logiciel de billetterie</a>
                      <span style="">par</span> <a title="Logiciel de billetterie par YurPlan" style=" text-decoration:none;" target="_blank" href="https://yurplan.com">YurPlan</a>
                </div>
              </div>
            </div>
        
        
     </div>
  </div>
  <div class="row visible-xs">
      <iframe src="https://yurplan.com/event/Agile-Grenoble-4-Kids-2016/10788/tickets/widget?info=1&from=widget&default_culture=fr" height="430" width=100% scrolling="auto" frameborder="0"></iframe>
  </div>


</div>
