<div class="content container">
  <div class="row">
    <div class="col-md-12">

        <div skrollr class="panel panel-default transparent_black65">
            <div class="panel-body">
                <h1 class="ag-section-title visible-lg" translate="accueil.title_ag"></h1>
                <h2 class="ag-section-title visible-md" translate="accueil.title_ag"></h2>
                <h3 class="ag-section-title visible-sm" translate="accueil.title_ag"></h3>
                <h4 class="ag-section-title visible-xs" translate="accueil.title_ag"></h4>
            </div>
        </div>
     </div>
   </div>
</div>
