<div class="content container" xmlns:font-size="http://www.w3.org/1999/xhtml">

  <div class="row hidden-xs hidden-sm">
    <div class="col-md-12 ">
      <div class="panel panel-default transparent_white85">
        <div class="panel-body">
          <h1 class="ag-section-title" translate="intervenants.title"></h1>


            <table style="font-size: 11px" class="table table-bordered" >
                <tr>
                    <td bgcolor="#d3d3d3" colspan="3" align="center">Animateurs Track Technique</td>
                </tr>
                <tr>
                    <td translate="intervenants.intervenant1_nom"></td>
                    <td translate="intervenants.intervenant1_bio"></td>
                    <td translate="intervenants.intervenant1_rezo"></td>
                </tr>
                <tr>
                    <td translate="intervenants.intervenant2_nom"></td>
                    <td translate="intervenants.intervenant2_bio"></td>
                    <td translate="intervenants.intervenant2_rezo"></td>
                </tr>
                <tr>
                    <td bgcolor="#d3d3d3" colspan="3" align="center">Animateurs Track Scrumaster</td>
                </tr>
                <tr>
                    <td translate="intervenants.intervenant3_nom"></td>
                    <td translate="intervenants.intervenant3_bio"></td>
                    <td translate="intervenants.intervenant3_rezo"></td>
                </tr>
                <tr>
                    <td bgcolor="#d3d3d3" colspan="3" align="center">Animateurs Track Product Owner</td>
                </tr>
                <tr>
                    <td translate="intervenants.intervenant4_nom"></td>
                    <td translate="intervenants.intervenant4_bio"></td>
                    <td translate="intervenants.intervenant4_rezo"></td>
                </tr>
                <tr>
                    <td bgcolor="#d3d3d3" colspan="3" align="center">Animateurs Track Manager</td>
                </tr>
                <tr>
                    <td translate="intervenants.intervenant5_nom"></td>
                    <td translate="intervenants.intervenant5_bio"></td>
                    <td translate="intervenants.intervenant5_rezo"></td>
                </tr>
                <tr>
                    <td translate="intervenants.intervenant6_nom"></td>
                    <td translate="intervenants.intervenant6_bio"></td>
                    <td translate="intervenants.intervenant6_rezo"></td>
                </tr>
            </table>


        </div>
      </div>
    </div>
  </div>

  <div class="row">


  </div>

</div>
