<div class="content container" >

    <div class="row hidden-xs hidden-sm">
        <div class="col-md-12 ">
            <div class="panel panel-default transparent_white85">
                <div class="panel-body">
                    <h1 class="ag-section-title" translate="sujets.title"></h1>

                    <span class="label label-warning" translate="sujets.warning"></span>
                    <br>
                    <table style="font-size: 11px" class="table table-sm">
                        <tbody>
                        <tr>
                            <td width=30% >Track Developpeur/Administrateur Système</td>
                            <td translate="sujets.contenu_track_tek_dev">Dev</td>
                            <td translate="sujets.contenu_track_tek_ops">Ops</td>
                            <!--<td > <img src="client/media/agilelab/ProgrammeDevops.JPG" height="70%" width="70%"/></td>-->
                        </tr>
                        <tr>
                            <td width=30%>Track Scrumaster</td>
                            <td translate="sujets.contenu_track_sm"></td>
                        </tr>
                        <tr>
                            <td width=30%>Track Product Owner</td>
                            <td translate="sujets.contenu_track_po"></td>
                        </tr>
                        <tr>
                            <td width=30%>Track Manager</td>
                            <td translate="sujets.contenu_track_mgr"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="row">



</div>