<div class="content container" >

  <!--div class="row hidden-xs hidden-sm">
    <div class="col-md-6">
      <div class="panel panel-default transparent_white85">
        <div class="panel-body">
          <img class="visible-lg media-object pull-left img-responsive" src="client/media/icon/icon_orange_ticket_128.png" width="64"/>
          <h1 class="ag-section-title" translate="ticket.title"></h1>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default transparent_white85">
        <div class="panel-body">
          <p translate="ticket.description"></p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
  </div-->

  <div class="row">
    <div class="col-sm-9">
       <div class="width:100%; float:left visible-lg visible-xl" >
         <iframe src="https://yurplan.com/event/Agile-Grenoble-Lab-2016/10789/tickets/widget?info=1&from=widget&default_culture=fr" height="675" width=100% scrolling="auto" frameborder="0"></iframe>
       </div>
       <div class="width:100%; float:left visible-sm visible-md" >
         <iframe src="https://yurplan.com/event/Agile-Grenoble-Lab-2016/10789/tickets/widget?info=1&from=widget&default_culture=fr" height="600" width=100% scrolling="auto" frameborder="0"></iframe>
       </div>
       <div class="width:100%; float:left visible-xs" >
         <iframe src="https://yurplan.com/event/Agile-Grenoble-Lab-2016/10789/tickets/widget?info=1&from=widget&default_culture=fr" height="300" width=100% scrolling="auto" frameborder="0"></iframe>
       </div>
       <div class="panel panel-default transparent_white85 panel-body message" translate="ticket.contact"></div>

    </div>


    <div class="col-sm-3 ">
        <a href="./index.html">
            <div class="panel panel-default transparent_white85">
              <div class="panel-body">
                <span class="glyphicon glyphicon-info-sign" translate="ticket.warning"></span>
                  <img href="./index.html" src="client/media/logo/logo_ag_black_100.png" alt="logo" width="60px">
              </div>
            </div>

        </a>
         <div style="font-family:Helvetica, Arial; font-size:13px; padding:5px 15px 10px; width:100%; text-align:left;" >
               <a title="Logiciel de billetterie" style="color:#ddd; text-decoration:none;" target="_blank" href="https://yurplan.com/pro/billetterie/billetterie-en-ligne">Logiciel de billetterie</a>
               <span style="color:#ddd;">par</span> <a title="Logiciel de billetterie par YurPlan" style="color:#ddd; text-decoration:none;" target="_blank" href="https://yurplan.com">YurPlan</a>
         </div>
    </div>
  </div>


</div>
