<div class="content container">
  <div class="row">
    <div class="col-md-12">

        <div skrollr class="panel panel-default transparent_black65">
            <div class="panel-body">
                <h1 class="ag-section-title visible-lg" translate="accueil.title_ag"></h1>
                <h2 class="ag-section-title visible-md" translate="accueil.title_ag"></h2>
                <h3 class="ag-section-title visible-sm" translate="accueil.title_ag"></h3>
                <h4 class="ag-section-title visible-xs" translate="accueil.title_ag"></h4>
                <h4 class="ag-section-title" translate="accueil.date"></h4>
                <p class="visible-lg visible-md visible-sm" translate="accueil.description"></p>
            </div>
        </div>

     </div>
   </div>
   <div class="row">
      <div class="col-md-6">
          <div class="panel panel-default transparent_black65">
              <div class="panel-body">
                 <div class="media">
                     <img class="visible-lg media-object pull-left img-responsive" src="client/media/icon/icon_orange_notes_100.png" width="50px"/>
                     <div class="media-body">
                         <div class="message" translate="details.message">
                         </div>
                         <div smooth-scroll-jquery target="details" class="btn btn-primary btn-lg">
                                <span class="glyphicon glyphicon-info-sign hidden-xs"></span>
                                <span translate="details.title"></span>
                         </div>
                     </div>
                 </div>
              </div>
          </div>
      </div>
      <div class="col-md-6">
          <div class="panel panel-default transparent_black65">
              <div class="panel-body">
                 <div class="media">
                   <img class="visible-lg media-object pull-left img-responsive" src="client/media/icon/icon_orange_ticket_128.png" width="64"/>
                   <div class="media-body">
                        <div class="message" translate="ticket.description">
                        </div>
                        <div smooth-scroll-jquery target="ticket" class="btn btn-primary btn-lg">
                                <span class="glyphicon glyphicon-info-sign hidden-xs"></span>
                                <span translate="ticket.title"></span>
                        </a>
                    </div>
                  </div>
              </div>
          </div>
      </div>

   </div>


   <div class=row >
         <div class="visible-lg visible-sm visible-md text-center">
            <img  src="client/media/icon/fleche.png" alt="scroll down" />
         </div>
   </div>
</div>
