<div class="content container" >

  <div class="row hidden-xs hidden-sm">
    <div class="col-md-12 ">
      <div class="panel panel-default transparent_white85">
        <div class="panel-body">
          <h1 class="ag-section-title" translate="details.title"></h1>
          <p translate="details.description"></p>
          <p translate="details.description2"></p>
          <a href="https://drive.google.com/open?id=1LxRSahgihDr49Yb--XIn0lw71yWy-MjIUvbM6LtRWJo" style="text-decoration: none; color: black;">
                  <img src="client/media/icon/icon_orange_notes_100.png" alt="details" width="50px">
                  <span translate="details.info"> </span>
           </a>
        </div>
      </div>
    </div>
  </div>

</div>
