<div class="content container" >

  <div class="row hidden-xs hidden-sm">
    <div class="col-md-12 ">
      <div class="panel panel-default transparent_white85">
        <div class="panel-body">
          <h1 class="ag-section-title" translate="details.title"></h1>
          <p translate="details.description"></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-md-6 col-sm-6">
      <div class="panel panel-default transparent_black85">
        <div class="panel-body">
          <h3 translate="emails.title"></h3>
          <p class="hidden-xs" translate="emails.description"></p>
          <ul class="hidden-xs">
            <li>
              <a href="mailto:{{mails('emails.orateur.addr')}}" translate="emails.orateur.addr"></a>
              <span translate="emails.orateur.desc"></span>
            </li>
            <li>
              <a href="mailto:{{mails('emails.sponsor.addr')}}" translate="emails.sponsor.addr"></a>
              <span translate="emails.sponsor.desc"></span>
            </li>
            <li>
              <a href="mailto:{{mails('emails.inscription.addr')}}" translate="emails.inscription.addr"></a>
              <span translate="emails.inscription.desc"></span>
            </li>
            <li>
              <a href="mailto:{{mails('emails.contact.addr')}}" translate="emails.contact.addr"></a>
              <span translate="emails.contact.desc"></span>
            </li>
          </ul>
          <p class="visible-xs">
            <a href="mailto:{{mails('emails.orateur.addr')}} translate="emails.orateur.addr""></a>
          </p>
        </div>
      </div>
    </div>

  </div>

</div>
