.navbar-default {
  background-color: #2c2c2c;
  border-color: #303030;
  z-index: 10;
  border-radius: 0px !important;
  -moz-box-shadow: 1px 1px 5px 0px #2c2c2c;
  -webkit-box-shadow: 1px 1px 5px 0px #2c2c2c;
  -o-box-shadow: 1px 1px 5px 0px #2c2c2c;
  box-shadow: 1px 1px 5px 0px #2c2c2c;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#2c2c2c, Direction=134, Strength=5);
}

.navbar-default .navbar-brand {
  color: #ebeef5;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #00b8fc;
}
.navbar-default .navbar-text {
  color: #ebeef5;
}
.navbar-default .navbar-nav > li > a {
  color: #ebeef5;
  border-bottom: 3px #ebeef5 solid;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #B0B0B0;
  border-bottom: 3px #B0B0B0 solid;
  cursor: pointer;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #00b8fc;
  background-color: #2c2c2c;
  border-bottom: 3px #00b8fc solid;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #00b8fc;
  background-color: #2c2c2c;
}
.navbar-default .navbar-toggle {
  border-color: #2c2c2c;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #2c2c2c;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ebeef5;
}
.navbar-default .navbar-collapse {
  margin-right: 15px;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ebeef5;
}
.navbar-default .navbar-link {
  color: #ebeef5;
}
.navbar-default .navbar-link:hover {
  color: #00b8fc;
}


@media (max-width: 768px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ebeef5;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #00b8fc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #00b8fc;
    background-color: #2c2c2c;
  }
}


/* Logo Agile Grenoble */


@media (max-width: 991px) {
  .ag-agtext {
    margin-top: 24px;  
    color: #E0E0E0;
    width: 180px;
    font-family:Ubuntu, Arial;
  }
  .logo-nav {
   margin-top: 10 px;  
  }
}
@media (min-width: 992px) {
  .ag-agtext {
    margin-top: 24px;  
    color: #E0E0E0;
    width: 240px;
  }
  .logo-nav {
   margin-top: -4px;  
  }
}



.ag-anneetext {
  color: #00b8fc;
}