#sponsors {
	background-image:url('../media/background/sponsors.jpg');
}

.panel-group {
	color: black;
}

.panel-heading {
	cursor: pointer;
}

.sponsor-gold {
	 color: #aa4502;
	 background-color: #f4be42;
}

.sponsor-silver {
	 color: #5974a3;
	 background-color: #c4c4c4;	 
}