.slider {
    border-radius: 5px;
    position: relative;

    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.carousel .modal {
    color: black;
}

.carousel .modal img {
    height: 70px;
}

.slider-size {
    width: 400px;
    height: 140px;
}

.blockquote-size {
    height: 25px;
    position: relative;
}

@media (max-width: 1200px) {

    .slider-size {
        width: 300px;
        height: 105px;
    }
}

@media (max-width: 992px) {

    .slider-size {
        width: 300px;
        height: 105px;
    }

    .blockquote-size {
        height: 60px;
        position: relative;
        overflow-y: auto;
    }
}

@media (max-width: 768px) {

    .slider-size {
        width: 200px;
        height: 70px;
    }

    .blockquote-size {
        height: 60px;
        position: relative;
        overflow-y: auto;
    }
}

.slide {
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}
.slide.ng-hide-add {
    opacity:1;

    -webkit-transition:1s linear all;
    -moz-transition:1s linear all;
    -o-transition:1s linear all;
    transition:1s linear all;

    -webkit-transform: rotateX(50deg) rotateY(30deg);
    -moz-transform: rotateX(50deg) rotateY(30deg);
    -ms-transform: rotateX(50deg) rotateY(30deg);
    -o-transform: rotateX(50deg) rotateY(30deg);
    transform: rotateX(50deg) rotateY(30deg);

    -webkit-transform-origin: right top 0;
    -moz-transform-origin: right top 0;
    -ms-transform-origin: right top 0;
    -o-transform-origin: right top 0;
    transform-origin: right top 0;
}
.slide.ng-hide-add.ng-hide-add-active {
    opacity:0;
}
.slide.ng-hide-remove {
    -webkit-transition:1s linear all;
    -moz-transition:1s linear all;
    -o-transition:1s linear all;
    transition:1s linear all;

    display:block!important;
    opacity:0;
}
.slide, .slide.ng-hide-remove.ng-hide-remove-active {
    opacity:1;
}

.gold {
    color: #F5D402;
}