body {
    background-color: #F2F4F7;
}

a, a:hover { 
    text-decoration: none;
    color: #4C494D;
}


.gridster .gridster-item {
    padding-top: 5px;
}

.program {
    font-family: trebuchet, sans-serif;
    text-align: center;
    background-color: #F5F5F5;
}

.header_program {
    font-size: x-small;
    background-color : #4C494D;
    color: white;
    height: 50px !important;
}

.session {
	border-radius: 2px;
	font-size: x-small;
    border: 1px solid #D9D9D9;
    overflow: auto;
}

.keynote {
	background-color: #E8E4ED;
}

.sharing {
    background-color: #D0F56C;
}

.change {
    background-color: #E3B6B6; 
}

.pleasure {
    background-color: #F5C55D;
}

.desire {
    background-color: #C2D7FF;
}

